In [1]:
import requests
import json
import urllib.request
import pandas as pd
import ast

In [2]:
response_details_merge = pd.read_csv('../data/Data - respondents details merge.csv')
response_details_merge.drop(columns='Unnamed: 0', inplace=True)
response_details_merge

,id_x,person_mbti,mbti_test,character,movie,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,michaelcaloz.com,Tony Stark,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
1,0,ENFP,michaelcaloz.com,Rocket Raccoon,Guardians of the Galaxy Vol. 3,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,michaelcaloz.com,Captain America,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
3,0,ENFP,michaelcaloz.com,Peter Parker,Spider-Man: Far From Home,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,michaelcaloz.com,Hobie Brown,Spider-Man: Across the Spider-Verse,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,123,ENFP,michaelcaloz.com,Agent Smith,The Matrix,The Matrix,"[28, 878]",603,575.344,1999-03-31,The Matrix,8.215,24874
701,123,ENFP,michaelcaloz.com,Daniel Plainview,There Will Be Blood,There Will Be Blood,[18],7345,36.996,2007-12-26,There Will Be Blood,8.084,6345
702,123,ENFP,michaelcaloz.com,Eraserhead Baby,Eraserhead,Eraserhead,"[14, 27]",985,67.775,1978-02-03,Eraserhead,7.400,2300
703,123,ENFP,michaelcaloz.com,Patrick Bateman,American Psycho,American Psycho,"[53, 18, 80]",1359,84.339,2000-04-13,American Psycho,7.404,10461
704,123,ENFP,michaelcaloz.com,The Duke,Fear and Loathing in Las Vegas,Fear and Loathing in Las Vegas,"[12, 18, 35]",1878,43.774,1998-05-19,Fear and Loathing in Las Vegas,7.200,4433

In [5]:
try_df = response_details_merge.head(20)
try_df = try_df.drop(['mbti_test', 'movie'], axis=1)
try_df

,id_x,person_mbti,character,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,Tony Stark,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
1,0,ENFP,Rocket Raccoon,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,Captain America,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
3,0,ENFP,Peter Parker,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,Hobie Brown,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265
5,0,ENFP,Peter Parker,The Amazing Spider-Man,"[28, 12, 878]",1930,138.079,2012-06-23,The Amazing Spider-Man,6.700,16878
6,0,ENFP,Celine,Before Sunrise,"[18, 10749]",76,46.182,1995-01-27,Before Sunrise,7.970,3946
7,0,ENFP,Jesse Wallace,Before Sunrise,"[18, 10749]",76,46.182,1995-01-27,Before Sunrise,7.970,3946
8,0,ENFP,Bella Baxter,Poor Things,"[878, 10749, 35]",792307,264.100,2023-12-07,Poor Things,7.792,3355
9,0,ENFP,Miles Morales,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265
10,1,INTP,Johnny English,Johnny English,"[12, 28, 35]",9486,30.584,2003-03-14,Johnny English,6.276,3308
11,1,INTP,Tony Stark,Avengers: Infinity War,"[12, 28, 878]",299536,301.378,2018-04-25,Avengers: Infinity War,8.246,28876
12,1,INTP,"Captain Pete ""Maverick"" Mitchell",Top Gun: Maverick,"[28, 18]",361743,144.420,2022-05-21,Top Gun: Maverick,8.221,8587
13,1,INTP,Neo,The Matrix,"[28, 878]",603,575.344,1999-03-31,The Matrix,8.215,24874
14,1,INTP,Parzival (Wade Watts),Ready Player One,"[12, 28, 878]",333339,78.571,2018-03-28,Ready Player One,7.600,15069
15,1,INTP,Benoit Blanc,Glass Onion: A Knives Out Mystery,"[35, 80, 9648]",661374,89.459,2022-11-12,Glass Onion: A Knives Out Mystery,7.047,5137
16,1,INTP,Dr. Stephen Strange,Doctor Strange,"[28, 12, 14]",284052,436.230,2016-10-25,Doctor Strange,7.423,21583
17,1,INTP,J. Robert Oppenheimer,Oppenheimer,"[18, 36]",872585,746.474,2023-07-19,Oppenheimer,8.100,8026
18,1,INTP,Puss in Boots,Puss in Boots: The Last Wish,"[16, 12, 14, 35, 28, 10751]",315162,188.621,2022-12-07,Puss in Boots: The Last Wish,8.200,7256
19,1,INTP,Loki,Avengers: Infinity War,"[12, 28, 878]",299536,301.378,2018-04-25,Avengers: Infinity War,8.246,28876

In [6]:
characters_mbti_df = pd.read_csv('../data/Data - Movie Characters MBTI clean.csv')
# survey_responses_df.drop(columns='Unnamed: 0', inplace=True)
characters_mbti_df

                          char                   movie  mbti  votes
0                Guido Anselmi                   8 1/2  INTP     57
1      King Leonidas of Sparta                     300  ENTJ    460
2                    Artemisia                     300  ENTJ    127
3                       Xerxes                     300  INTJ    103
4                        Gorgo                     300  INFJ     62
...                        ...                     ...   ...    ...
10720                  Gazelle         Zootopia (2016)  ESFP    107
10721              Mr. Manchas         Zootopia (2016)  ISFJ     40
10722              Doug Ramses         Zootopia (2016)  INTP     30
10723                   Travis         Zootopia (2016)  ESTP     27
10724             Alexis Zorba  Zorba the Greek (1964)  ENFP     39

[10725 rows x 4 columns]

In [46]:
recorded_chars = []
recorded_movies = []
missing_chars = []
missing_movies = []

# Define the column headers
columns = ['char', 'movie', 'mbti', 'votes']

# Create an empty DataFrame with only headers
new_df = pd.DataFrame(columns=columns)

def char_mbti_search(char_find, movie_find):
    bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
    if bool_series.any():
        index = bool_series.idxmax()  # Or use bool_series[bool_series].index for all matches
        print(index)
        recorded_chars.append(char_find)
        recorded_movies.append(movie_find)
        new_row = characters_mbti_df.loc[index]  
        return new_row
    else:
        # print(f"No match found for character '{char_find}' in movie '{movie_find}'")
        missing_chars.append(char_find)
        missing_movies.append(movie_find)
        return None


# char_list = list(try_df['character'])
# movie_list = list(try_df['movie'])
# print(char_list)

# char_list = 'Celine'
# movie_list = 'Before'

# char_mbti_search(char_list, movie_list)
# char_mbti_search('Tony Stark', 'MCU')

for i in range(len(response_details_merge)):
    char_i = str(response_details_merge['character'][i])
    movie_i = str(response_details_merge['movie'][i])
    # print(type(char_i), movie_i)
    new_row = char_mbti_search(char_i, movie_i)
    try:
        new_df = pd.concat([new_df, new_row.to_frame().T], ignore_index=True)
    except:
        pass
    # print(new_row)

7744
6304
4160
8968
5975
10223
396
3393
7705
3943
9820
9161

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

3943
4555
5203
828
9234
1836
101

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

2590
831
8450
3384
4730
5324
7908
10449
1665
1038
5199
374

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

2908
7591
7270
4922
5514
2847
5200
3944
2590
10103
7591
7178

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

1437
338
2553
6600
7947
9411
2480

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

7592
5568
2551
3945
2424
6061

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

1836
7327
10141
5324
6107
8948
1135
8658
7253
5732
6104
8968
928

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

5199
1165
6751
3977
149
6807
5359
9410
8534
2932
4555
3943
4555
8284
6244
831
2506
4241
3384
5391
751
3889
4500
5324
4625
7325
2479
7325
396
7655
7855
10414
6623

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

9243
6365
8878
9055
8656
6450
4379
7899

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

9607
4213
1784
396
4730
4731
2096
4946
1819
2108
8822
3977

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

3384
8971
7705
6212
7592
5199
828
10709
7253

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

6758
6843
239
8991
9012
8968
3385
8797
9234
8558
1027
1476
3557
2628
5411
3147
831
7486
9243

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

9430
8162
7744
5756
8224
1476
9625
3385

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

3370
396
2590
8878
4167
8162
8765
9430
9237

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

5247
8878
8883
351
9162
3976
1513

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

561
6239
419
10172
1180
9086
2932
10709
7996

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

3392
6212
10463
8365
2424
7328
3584
4932
8367
9992
5619
8797

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

828
3388
9315
9319
3546
8797
9430
9320
5975
9098
10634
9682
9243

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

8408
1635
9245
5568
2627
6830
9747
6212
9437
9099

C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
C:\Users\Marco\AppData\Local\Temp\ipykernel_3744\837423093.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)

4112
3425
8881
4310
9055
2802
9055
6212
4486
2555
8252
6212
3396
7253
8970
9730
529

In [47]:
new_df

,char,movie,mbti,votes
0,Peter Parker “Spider-Man”,The Amazing Spider-Man Duology,ISTP,2700
1,Bella Baxter,Poor Things,ENTP,781
2,Johnny English,Johnny English (2003),ENTP,95
3,Neo,The Matrix Trilogy,INTP,1600
4,J. Robert Oppenheimer,Oppenheimer (2023),INTJ,2200
...,...,...,...,...
230,Neville Longbottom,Harry Potter / Wizarding World Films,ISFJ,1400
231,Miles Morales “Spider-Man”,Spider-Man: Into the Spider-Verse (2018),ISFP,3400
232,Agent Smith,The Matrix Trilogy,INTJ,584
233,Daniel Plainview,There Will Be Blood (2007),ENTJ,774
234,Patrick Bateman,American Psycho (2000),ENTJ,8100

In [8]:
print("found: ", len(recorded_chars))
print("not found:", len(missing_chars))

found:  235
not found: 470

In [ ]:
for i in range(len(recorded_chars)):
    print(recorded_chars[i], "  from  ", recorded_movies[i])

In [ ]:
for i in range(len(missing_chars)):
    print(missing_chars[i], "  from  ", missing_movies[i])

In [45]:
sample = char_mbti_search('Iron Man', 'MCU')
sample

new_df = pd.concat([new_df, sample.to_frame().T], ignore_index=True)

new_df

4969

                    char movie  mbti votes
0  Tony Stark “Iron Man”   MCU  ENTP  6500