In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Import selenium necessities
import time
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service as ChromeService

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
# Set up the Chrome WebDriver
options = webdriver.ChromeOptions()
prefs = {"profile.managed_default_content_settings.images": 2}
options.add_experimental_option("prefs", prefs)
# options.add_argument('--headless')
options.add_argument('--disable-gpu')
options.add_argument('--disable-blink-features=AutomationControlled')

# driver.implicitly_wait(60)

In [126]:
driver = webdriver.Chrome(options=options)
URL = "https://www.personality-database.com/en-US/profile?pid=2&cid=3&type1=15"
driver.get(URL)
# time.sleep(20)

In [125]:
driver.quit()

In [ ]:
next_page = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/section/main/div/div[2]/div/div[4]/ul/li[9]/button').click()
# next_page = WebDriverWait(driver, 20).until(EC.visibility_of_element_located((By.XPATH, '//button[@type="button" and @aria-label="next page" and @class="rc-pagination-item-link"]'))).click()

In [52]:
all_list_elements = driver.find_elements(By.XPATH, '//*[@id="root"]/div/section/main/div[1]/div[2]/div/div[4]/ul/li/a')

# In this case (by manual checking), element [-1] contains the last page number
number_of_pages = int(all_list_elements[-1].text)
# print(number_of_pages)

In [10]:
# Define a function to extract data from current page
def extract_page_data(driver):
    page_output = []

    # Locate all elements on the current page
    page_elements = driver.find_elements(By.XPATH, '//*[@id="root"]/div/section/main/div[1]/div[2]/div/div[4]')

    # Iterate through each element in the page
    for each_element in page_elements:
        # Extract the text content of each element
        each_element_value = each_element.get_attribute('innerHTML')
        page_output.append(each_element_value)

    print(page_output)

    return page_output

In [17]:
# Define a function to extract data from current page
def extract_page_data(driver):
    page_output = []

    # Locate all elements on the current page
    page_elements = driver.find_elements(By.XPATH, '//*[@id="root"]/div/section/main/div[1]/div[2]/div/div[4]')
    print(len(page_elements))
    # Iterate through each element in the page
    for i, each_element in enumerate(page_elements):
        # Extract the text content of each element
        each_element_value = each_element.get_attribute('innerHTML')

        char_element = each_element.find_elements(By.CLASS_NAME, 'info-name')
        movie_element = each_element.find_elements(By.CLASS_NAME, 'info-subcategory')
        mbti_element = each_element.find_elements(By.CLASS_NAME, 'personality')
        vote_element = each_element.find_elements(By.CLASS_NAME, 'vote-count')

        print(char_element[i].get_attribute('innerHTML'))

        # Extract 'label' from 'selenium.webdriver.remote.webelement.WebElement'
        print(movie_element[i].text)

        print(mbti_element[i].get_attribute('innerHTML'))
        print(vote_element[i].text)
        print()

        page_output.append(each_element_value)

    return page_output


# # Extract the text content of the first element in the list
# text_content = page_elements[0].get_attribute('innerHTML')

# char_element = page_elements[0].find_elements(By.CLASS_NAME, 'info-name')
# movie_element = page_elements[0].find_elements(By.CLASS_NAME, 'info-subcategory')
# mbti_element = page_elements[0].find_elements(By.CLASS_NAME, 'personality')
# vote_element = page_elements[0].find_elements(By.CLASS_NAME, 'vote-count')

# char_element = []
# movie_element = []
# mbti_element = []
# vote_element = []

# for i in range(10):
#     print(char_element[i].get_attribute('innerHTML'))

#     # Extract 'label' from 'selenium.webdriver.remote.webelement.WebElement'
#     print(movie_element[i].text)

#     print(mbti_element[i].get_attribute('innerHTML'))
#     print(vote_element[i].text)
#     print()

In [127]:
char_full_list = []
movie_full_list = []
mbti_full_list = []
vote_full_list = []

In [173]:
char_list = []
movie_list = []
mbti_list = []
vote_list = []
# Define a function to extract data from current page
def extract_page_data(driver):

    # Locate all elements on the current page
    page_elements = driver.find_elements(By.XPATH, '//*[@id="root"]/div/section/main/div[1]/div[2]/div/div[4]')

    char_element = page_elements[0].find_elements(By.CLASS_NAME, 'info-name')
    movie_element = page_elements[0].find_elements(By.CLASS_NAME, 'info-subcategory')
    mbti_element = page_elements[0].find_elements(By.CLASS_NAME, 'personality')
    vote_element = page_elements[0].find_elements(By.CLASS_NAME, 'vote-count')

    for i in range(3):
        # print(i)
        char_list.append(char_element[i].get_attribute('innerHTML'))
        # Extract 'label' from 'selenium.webdriver.remote.webelement.WebElement'
        movie_list.append(movie_element[i].text)
        mbti_list.append(mbti_element[i].get_attribute('innerHTML'))
        try:
            vote_list.append(vote_element[i].text)
        except:
            vote_list.append('0')
    return char_list, movie_list, mbti_list, vote_list

char, movie, mbti, votes = extract_page_data(driver)
df = pd.DataFrame({'char': char, 'movie': movie, 'mbti': mbti, 'votes': votes})
df

,char,movie,mbti,votes
0,Doctor Finkelstein,The Nightmare Before Christmas (1993),INTJ,167 Pdb Votes
1,Mrs. White,Clue (1985),INTJ,70 Pdb Votes
2,Wadsworth,Clue (1985),INTJ,77 Pdb Votes

In [174]:
char_full_list.extend(char_list)
movie_full_list.extend(movie_list)
mbti_full_list.extend(mbti_list)
vote_full_list.extend(vote_list)

df1 = pd.DataFrame({'char': char_full_list, 'movie': movie_full_list, 'mbti': mbti_full_list, 'votes': vote_full_list})
df1

,char,movie,mbti,votes
0,Paul Atreides,Dune (2021),INTJ,2.3k Pdb Votes
1,Severus Snape,Harry Potter / Wizarding World Films,INTJ,4.9k Pdb Votes
2,Wednesday Addams,The Addams Family,INTJ,2.3k Pdb Votes
3,Death,Shrek (Franchise),INTJ,2.2k Pdb Votes
4,Cairo Sweet,Miller’s Girl (2024),INTJ,155 Pdb Votes
...,...,...,...,...
2198,Count Tyrone Rugen,The Princess Bride (1987),INTJ,0
2199,Grand Councilwoman,Lilo & Stitch (Franchise),INTJ,0
2200,Doctor Finkelstein,The Nightmare Before Christmas (1993),INTJ,167 Pdb Votes
2201,Mrs. White,Clue (1985),INTJ,70 Pdb Votes
2202,Wadsworth,Clue (1985),INTJ,77 Pdb Votes

In [135]:
# char_full_list = char_full_list[:2200] + char_full_list[2300:]
# movie_full_list = movie_full_list[:2200] +movie_full_list[2300:]
# mbti_full_list = mbti_full_list[:2200]+mbti_full_list[2300:]
# vote_full_list = vote_full_list[:2200]+vote_full_list[2300:]
# df1 = pd.DataFrame({'char': char_full_list, 'movie': movie_full_list, 'mbti': mbti_full_list, 'votes': vote_full_list})
# df1

                 char                 movie  mbti           votes
0          Nica Dover  The Tearsmith (2024)  INFJ   327 Pdb Votes
1                Elsa    Frozen (Franchise)  INFJ  8.5k Pdb Votes
2              Sophie       The Idea of You  INFJ    62 Pdb Votes
3      Bruno Madrigal        Encanto (2021)  INFJ  8.6k Pdb Votes
4       Vito Corleone  The Godfather (1972)  INFJ  2.2k Pdb Votes
...               ...                   ...   ...             ...
2395       Jedi Order             Star Wars  INFJ    21 Pdb Votes
2396  Jazelle Hartman      Jeepers Creepers  INFJ     3 Pdb Votes
2397           Arnaud   Love at First Fight  XXXX    38 Pdb Votes
2398             Maud    A Monster in Paris  INFJ     6 Pdb Votes
2399    Berkeley Cole  Out of Africa (1985)  INFJ               0

[2400 rows x 4 columns]

In [175]:
df1.to_csv('../data/Data - 15INTJ chars page 1-23 (100s) ALL.csv')
df1

,char,movie,mbti,votes
0,Paul Atreides,Dune (2021),INTJ,2.3k Pdb Votes
1,Severus Snape,Harry Potter / Wizarding World Films,INTJ,4.9k Pdb Votes
2,Wednesday Addams,The Addams Family,INTJ,2.3k Pdb Votes
3,Death,Shrek (Franchise),INTJ,2.2k Pdb Votes
4,Cairo Sweet,Miller’s Girl (2024),INTJ,155 Pdb Votes
...,...,...,...,...
2198,Count Tyrone Rugen,The Princess Bride (1987),INTJ,0
2199,Grand Councilwoman,Lilo & Stitch (Franchise),INTJ,0
2200,Doctor Finkelstein,The Nightmare Before Christmas (1993),INTJ,167 Pdb Votes
2201,Mrs. White,Clue (1985),INTJ,70 Pdb Votes
2202,Wadsworth,Clue (1985),INTJ,77 Pdb Votes