In [1]:
import requests
import json
import urllib.request
import pandas as pd
import ast

In [ ]:
# Header for API
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYmMwMDBjMGE5YzZjZmNkMDYxYWIyN2EzMjA1YjM0NiIsInN1YiI6IjY2NDRlMzUzM2YwMGEzYTg5YjViZDFkMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._E0exiVUWU6c_FyyCeGdqQpaOM_tFDreyWlV6bmclPk"
}

In [11]:
response_details_merge = pd.read_csv('../data/Data - respondents details merge.csv')
response_details_merge.drop(columns='Unnamed: 0', inplace=True)
response_details_merge

,id_x,person_mbti,mbti_test,character,movie,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,michaelcaloz.com,Tony Stark,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
1,0,ENFP,michaelcaloz.com,Rocket Raccoon,Guardians of the Galaxy Vol. 3,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,michaelcaloz.com,Captain America,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
3,0,ENFP,michaelcaloz.com,Peter Parker,Spider-Man: Far From Home,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,michaelcaloz.com,Hobie Brown,Spider-Man: Across the Spider-Verse,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,123,ENFP,michaelcaloz.com,Agent Smith,The Matrix,The Matrix,"[28, 878]",603,575.344,1999-03-31,The Matrix,8.215,24874
701,123,ENFP,michaelcaloz.com,Daniel Plainview,There Will Be Blood,There Will Be Blood,[18],7345,36.996,2007-12-26,There Will Be Blood,8.084,6345
702,123,ENFP,michaelcaloz.com,Eraserhead Baby,Eraserhead,Eraserhead,"[14, 27]",985,67.775,1978-02-03,Eraserhead,7.400,2300
703,123,ENFP,michaelcaloz.com,Patrick Bateman,American Psycho,American Psycho,"[53, 18, 80]",1359,84.339,2000-04-13,American Psycho,7.404,10461
704,123,ENFP,michaelcaloz.com,The Duke,Fear and Loathing in Las Vegas,Fear and Loathing in Las Vegas,"[12, 18, 35]",1878,43.774,1998-05-19,Fear and Loathing in Las Vegas,7.200,4433

In [13]:
try_df = response_details_merge.head()
try_df = try_df.drop(['mbti_test', 'movie'], axis=1)
try_df

,id_x,person_mbti,character,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,Tony Stark,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
1,0,ENFP,Rocket Raccoon,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,Captain America,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867
3,0,ENFP,Peter Parker,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,Hobie Brown,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265

In [21]:
filtered_df = try_df[try_df['genre_ids'].apply(lambda x: '16' in x)]
filtered_df

,id_x,person_mbti,character,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
4,0,ENFP,Hobie Brown,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265

In [8]:
try_df['movie_year'] = try_df['new_title'].astype(str) + ' (' + try_df['release_date'].astype(str).str[:4] + ')'
try_df

,id_x,person_mbti,character,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count,movie_year
0,0,ENFP,Tony Stark,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867,Avengers: Endgame (2019)
1,0,ENFP,Rocket Raccoon,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.972,6262,Guardians of the Galaxy Vol. 3 (2023)
2,0,ENFP,Captain America,Avengers: Endgame,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24867,Avengers: Endgame (2019)
3,0,ENFP,Peter Parker,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.400,15144,Spider-Man: Far From Home (2019)
4,0,ENFP,Hobie Brown,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,2023-05-31,Spider-Man: Across the Spider-Verse,8.366,6265,Spider-Man: Across the Spider-Verse (2023)
...,...,...,...,...,...,...,...,...,...,...,...,...
700,123,ENFP,Agent Smith,The Matrix,"[28, 878]",603,575.344,1999-03-31,The Matrix,8.215,24874,The Matrix (1999)
701,123,ENFP,Daniel Plainview,There Will Be Blood,[18],7345,36.996,2007-12-26,There Will Be Blood,8.084,6345,There Will Be Blood (2007)
702,123,ENFP,Eraserhead Baby,Eraserhead,"[14, 27]",985,67.775,1978-02-03,Eraserhead,7.400,2300,Eraserhead (1978)
703,123,ENFP,Patrick Bateman,American Psycho,"[53, 18, 80]",1359,84.339,2000-04-13,American Psycho,7.404,10461,American Psycho (2000)
704,123,ENFP,The Duke,Fear and Loathing in Las Vegas,"[12, 18, 35]",1878,43.774,1998-05-19,Fear and Loathing in Las Vegas,7.200,4433,Fear and Loathing in Las Vegas (1998)

In [9]:
characters_mbti_df = pd.read_csv('../data/Data - Movie Characters MBTI clean.csv')
# survey_responses_df.drop(columns='Unnamed: 0', inplace=True)
characters_mbti_df

                          char                   movie  mbti  votes
0                Guido Anselmi                   8 1/2  INTP     57
1      King Leonidas of Sparta                     300  ENTJ    460
2                    Artemisia                     300  ENTJ    127
3                       Xerxes                     300  INTJ    103
4                        Gorgo                     300  INFJ     62
...                        ...                     ...   ...    ...
10720                  Gazelle         Zootopia (2016)  ESFP    107
10721              Mr. Manchas         Zootopia (2016)  ISFJ     40
10722              Doug Ramses         Zootopia (2016)  INTP     30
10723                   Travis         Zootopia (2016)  ESTP     27
10724             Alexis Zorba  Zorba the Greek (1964)  ENFP     39

[10725 rows x 4 columns]

In [ ]:
recorded_chars = []
recorded_movies = []
missing_chars = []
missing_movies = []

# Define the column headers
columns = ['char', 'movie', 'mbti', 'votes']

# Create an empty DataFrame with only headers
new_df = pd.DataFrame(columns=columns)

def char_mbti_search(char_find, movie_find):
    bool_series = characters_mbti_df['char'].str.contains(char_find) & characters_mbti_df['movie'].str.contains(movie_find)
    if bool_series.any():
        index = bool_series.idxmax()  # Or use bool_series[bool_series].index for all matches
        print(index)
        recorded_chars.append(char_find)
        recorded_movies.append(movie_find)
        new_row = characters_mbti_df.loc[index]  
        return new_row
    else:
        # print(f"No match found for character '{char_find}' in movie '{movie_find}'")
        missing_chars.append(char_find)
        missing_movies.append(movie_find)
        return None

for i in range(len(response_details_merge)):
    char_i = str(response_details_merge['character'][i])
    movie_i = str(response_details_merge['movie'][i])
    # print(type(char_i), movie_i)
    new_row = char_mbti_search(char_i, movie_i)
    try:
        new_df = pd.concat([new_df, new_row.to_frame().T], ignore_index=True)
    except:
        pass

In [23]:
new_df

,char,movie,mbti,votes
0,Peter Parker “Spider-Man”,The Amazing Spider-Man Duology,ISTP,2700
1,Bella Baxter,Poor Things,ENTP,781
2,Johnny English,Johnny English (2003),ENTP,95
3,Neo,The Matrix Trilogy,INTP,1600
4,J. Robert Oppenheimer,Oppenheimer (2023),INTJ,2200
...,...,...,...,...
230,Neville Longbottom,Harry Potter / Wizarding World Films,ISFJ,1400
231,Miles Morales “Spider-Man”,Spider-Man: Into the Spider-Verse (2018),ISFP,3400
232,Agent Smith,The Matrix Trilogy,INTJ,584
233,Daniel Plainview,There Will Be Blood (2007),ENTJ,774
234,Patrick Bateman,American Psycho (2000),ENTJ,8100

In [24]:
print("found: ", len(recorded_chars))
print("not found:", len(missing_chars))

found:  235
not found: 470

In [ ]:
for i in range(len(recorded_chars)):
    print(recorded_chars[i], "  from  ", recorded_movies[i])

In [26]:
for i in range(len(missing_chars)):
    print(missing_chars[i], "  from  ", missing_movies[i])

Tony Stark   from   Avengers: Endgame
Rocket Raccoon   from   Guardians of the Galaxy Vol. 3
Captain America   from   Avengers: Endgame
Peter Parker   from   Spider-Man: Far From Home
Hobie Brown   from   Spider-Man: Across the Spider-Verse
Celine   from   Before Sunrise
Jesse Wallace   from   Before Sunrise
Miles Morales   from   Spider-Man: Across the Spider-Verse
Tony Stark   from   Avengers: Infinity War
Captain Pete "Maverick" Mitchell   from   Top Gun: Maverick
Parzival (Wade Watts)   from   Ready Player One
Benoit Blanc   from   A Knives Out
Dr. Stephen Strange   from   Doctor Strange
Puss in Boots   from   Puss in Boots: The Last Wish
Loki   from   Avengers: Infinity War
Amelie Poulain   from   Amelie
Mathilda   from   Mathilda
Willy Wonka   from   Willy Wonka & the Chocolate Factory (1971)
Wall-E   from   WALL.E (2008)
Waymond Wang   from   Everything Everywhere All at Once
Wanda   from   Avengers: Endgame
Grace Le domas   from   Ready or Not
Naomi Misora   from    Death Note
Yorichii    from    Demon Slayer
Amy   from    Gone Girl
Batman   from   Batman v Superman: Dawn Of Justice
Tony Stark   from   Iron Man
Otto   from   A Man Called Otto
Katniss Everdeen   from   The Hunger Games (2012)
Gwen Stacy   from   The Amazing Spider-man
Jang Okju   from   Ballerina
Sienna Shaw   from   Terrifier 2
Jordan Turner   from   The Call (2013)
Erin Harson   from   You’re Next
Miles Morales   from   Spiderman Into the Spiderverse
Merida   from    Brave (2012)
Belle   from    Beauty and the Beast
Jiro Horikoshi   from   The Wind Rises
Gretta   from   Begin Again
Sakura Yamauchi   from   Let Me Eat Your Pancreas
Makoto Konno   from   The Girl Who Leapt Through Time
Anthony Edward Stark    from    Iron Man
Phil    from    The Hangover
Wade Wilson    from    Deadpool
Sandie    from    Last Night in Soho
Willy Wonka    from    Charlie and the Chocolate Factory (2005)
Sherlock Holmes    from    Sherlock Holmes (2009)
Kirk Lazarus    from    Tropic Thunder
Alexander Claremont-Diaz   from    Red, White and Royal Blue
Hannibal Lecter    from    The Silence of the Lambs
Merlin    from    Kingsman: The Secret Service
Bowler Hat Guy   from    Meet the Robinsons
Ralph   from   Wreck-it-Ralph
Capt. Manuel   from   Seven Sundays
Gojo Satori   from   Jujutsu Kaisen 0
Amy Dunne   from   Gone Girl
Uta   from   One Piece Film: Red
Bryan   from   7 Sundays
Sang Hwa   from   Train to Busan
Natasha Romanoff   from   Avengers: Endgame
Jo March   from   Little Women
Luna Lovegood   from   Harry Potter and the Order of the Phoenix
Julie Baker   from   Flipped
Stella Mate   from   Crying Ladies
Maya   from   Birdshot
Jiro Horikoshi   from   The wind rises
Haru   from   Spirited away
Princess Mia   from   The Princess Diaries
Maaya Kisaragi   from   And yet you are so sweet
Olaf   from   frozen (2013)
Mirabel   from   encanto
Clawhauser   from   zootopia
Abby   from   turning red
Ken   from   barbie
honeylemon   from   big hero 6
Katniss Everdeen    from   The Hunger Games (2012)
Debbie    from    Ocean’s Eight
Roxy    from    Kingsman
Rachel Chu    from    Crazy Rich Asians
Elle Woods    from    Legally Blonde
Christopher    from    The Pursuit of Happiness
Lucy Gray    from    The Hunger Games: The Ballad of Songbirds and Snakes
Julie    from    Warm Bodies
Trinity    from    Matrix
Marta    from    Knives Out
Merida   from   Brave (2012)
Elizabeth Bennet   from   Pride and Prejudice (2005)
Lisa   from   Ponyo
Shoko Nishimiya   from   A Silent Voice
Linda Go   from   Mano Po 1: My Family
Lin   from   Spirited Away
Sebastian Wilder   from   La La Land (2016)
Tiana   from   princess and the frog
Belle   from   beauty and the beast
Mulan   from   mulan
Ashitaka    from    Princess Mononoke
 Hiromitsu Kosuke    from    No Longer Heroine
Howl Pendragon    from    Howl's Moving Castle
Dirk Burton    from    Left Behind
Jiro Horikoshi    from    The Wind Rises
Marnie    from    When Marnie Was There
Lord Tewksbury    from    Enola Holmes
Luna Lovegood   from   Harry Potter and the Order of the Phoenix
Cedric Diggory   from   Harry Potter and the Goblet of Fire
Gavroche   from   Les Miserables
Kyojuro Rengoku   from   Demon Slayer Mugen Train
Enjolras   from   Les Miserables
Jace Wayland    from    The Mortal Instruments: City of Bones
Katniss Everdeen    from   The Hunger Games (2012)
Shrek    from    Shrek (2001)
John Wick    from    John Wick (2014)
Fa Mulan    from    Mulan
Levi Ackerman    from    Attack on Titan
Kate Dibiasky    from    Don't Look Up
Luna Lovegood   from   Harry Potter and the Order of the Phoenix
Sherlock Holmes    from     Sherlock Holmes
Hiccup    from    How to train your dragon (2010)
Neo    from    The Matrix
Captain America   from   Captain America: The First Avenger
Beatrice Prior   from   Divergent
Sophie   from   Aftersun
President Snow   from   The Hunger Games: The Ballad of Songbirds & Snakes
Aragorn   from    lord of the rings
Bruce Wayne   from    Batman Returns
jack sparrow   from    pirates of the caribbean
anakin skywalker   from   Star Wars: Episode I - The Phantom Menace
Simba   from   Lion king
Nathan Algren   from    last samurai
Mavis Dracula   from   Hotel Transylvania (2012)
Dr Strange   from   Doctor Strange
Spiderman   from   Spider-Man: Far From Home
Yuta Okkotsu   from   Jujutsu Kaisen 0
Luna Lovegood   from   Harry Potter and the Order of the Phoenix
Neteyam   from   Avatar: The Way of Water
Akaza   from   Demon Slayer: Kimetsu no Yaiba – The Movie: Mugen Train.
Chihiro    from    Spirited away
Luna Lovegood    from    Harry Potter
Howl    from    Howl the moving castle
Charlie    from    Perks of being a wallflower
Joker    from    Joker (2019)
Karen Smith    from    Mean Girls
Cameron    from    Ten things I hate about you
Gru   from    despicable me
Dr strange   from    doctor strange
Willy wonka   from    Charlie and the chocolate factory
Haku   from    Spirited Away
Harley Quinn   from    Birds of prey
Baymax   from    baymax
Emma Woodhouse   from   Emma 2020
Tony Stark   from   Avengers: Endgame
Katniss Everdeen   from   The Hunger Games (2012)
Po   from   Kung Fu Panda (2008)
John Wick   from   John Wick (2014)
Ip Kai Man   from   Ip Man (2008)
Wanda Maximoff   from   Avengers: Infinity War
Bellatrix Lestrange   from   Harry Potter and the Deathly Hallows II
Luna Lovegood   from   Harry Potter and the Order of The Phoenix
Raven   from   Teen Titans
Amy Dunne    from    Gone Girl
Mia   from   La la land (2016)
Beatrice Prior    from    Divergent
Cruella de Vil    from    Cruella
Andy    from    The Devil Wears Prada
Maximus   from   Gladiator
Howl   from   Howl's Moving Castle
Evelyn Salt   from    SALT
Master Oogway   from   Kung Fu Panda (2008)
Suzume Iwato   from   Suzume no Tojimari
Professor Langdon   from   The Da Vinci Code
bowser   from    the mario movie
spider-punk   from    across the spiderverse
iron man   from    endgame
captain underpants   from    Captain Underpants: The First Epic Movie
Yas   from   Rye Lane
Alice   from   Plus One
Sasha Tran   from   Always Be My Maybe
Peter Parker   from   Spiderman
Tony Stark   from   Iron Man
Dr. Emmett Brown   from   Back to the Future
Shun   from   From Up on Poppy Hill
Park Ki Joon   from   Midnight Runners
Padre Burgos   from   Gomburza
Howl   from   Howl’s Moving Castle
Howl   from   Howl's Moving Castle
Rajun   from   3 idiots
Sophie   from   Howl's Moving Castle
Elsa   from   Frozen (2013)
Isabelle Madrigal   from   Encanto
Gojo   from   Jujutsu Kaisen: 0
Mei Mei   from   Jujutsu Kaisen: 0
Elle Woods   from   Legally Blondes
Bruce Wayne   from   The Dark Knight (2008)
Galadriel   from   Lord Of The Rings The Two Towers
Elizabeth Bennet   from   Pride And Prejudice(2005)
Jane Smith   from   Mr & Mrs Smith
Sarah Connor   from   Terminator 2
Emma Woodhouse   from   Emma (Gwyneth Paltrow Version)
Hermione Granger   from   Harry Potter Goblet Of Fire
Nina   from   Point Of No Return
Trinity   from   Matrix 1
Katniss Everdeen   from   The Hunger Games (2012)
Veneer   from   Trolls Band Together
Arrietty   from   The Secret World of Arrietty
Henry Roth   from   50 first dates
Bakugo   from   /My Hero Academia
Hobart Brown   from   Spider-man: Across the Spider-Verse
Han Lue   from   The Fast and the Furious: Tokyo Drift
Hawkeye   from   Avengers: Age Of Ultron
12th Doctor   from   Twice Upon a Time
Jack Frost   from   Rise of The Guardians
The Flash   from   Justice League: Crisis on Infinite Earths (2024)
Amy   from   gone girl
Summer   from   500 days of summer
Justine   from   melancholia
Miranda   from   the devil wears prada
Captain America   from   Avengers
Will Turner   from   Pirates of the Caribbean
Alice   from   Alice in Wonderland (1951)
Obi wan kenobi    from    Star Wars
Ferdinand the bull   from   ferdinand the bull (1938)
Forest gump   from   Forest Gump
Miller   from   Event Horizon
George Bailey   from   It's A Wonderful Life
Korso   from   Titan A.E.
Henry Tilney   from   Northanger Abbey
Jake 'Hangman' Seresin   from   Top Gun: Maverick
Wall-E   from   WALL.E
Astronaut Sam   from   Moon (2009)
Mima Kirigoe   from   Perfect Blue
Motoko   from   Ghost in the shell
Ripley   from   Alien
Hermione    from    Harry Potter
Andrew    from    Whiplash
Forrest Gump    from    Forrest Gump
Mia    from   La La Land (2016)
Sebastian    from   La La Land (2016)
Aragorn    from    Lord of the Rings
Lizzie Bennet   from   Pride and Prejudice (2005)
The Djinn   from   Three Thousand Years of Longing
Stitch   from   Lilo and Stitch
Elinor   from   Sense and Sensibility (1995)
Cinderella    from    Cinderella (2015)
MALEFICENT   from   Maleficent
HAKU   from   Spirited away
TURNIP   from   Howls moving castle
MURRAY   from   Hotel Transylvania
MAVIS DRACULA   from   Hotel Transylvania (2012)
PONYO   from   ponyo
THE FOX   from   The little prince
Chris Nielsen   from   What Dreams May Come
Alexander Dane   from   Galaxy Quest
Hermione   from   The Deathly Hallows: Part I
Neil Perry   from   Dead poets society
Toothless   from   how  to train your dragon
J.  Daniel Atlas   from   Now You See Me
Shrek   from   Shrek (2001)
Iva   from   WALL.E
Dori   from   finding Nemo
Lapis lazuli   from   Steven Universe the movie
Wallace   from   Scott Pilgrim vs The World
Robocop   from   Robocop
Frank Castle   from   The Punisher
John Rambo   from   Rambo: First Blood
Philippe Petit   from   The Walk
Strider   from   The Lord of the Rings
Owen Grady   from   Jurassic World
Cam   from   Tracers
Jake Lonergan   from   Cowboys & Aliens
Auto   from   WALL.E
‪Khaevis   from   Damsel
Frank Martin   from   the transporter
SoundWave   from   Transformers: dark of the moon
Mr Fox   from   Fantastic Mr.fox
Michael Nantz   from   Battle Los Angeles
John Wick   from   John Wick (2014)
Officer K   from   Blade Runner 2049
Captain Jack Sparrow   from   Pirates of the Caribbean: At World's End
John Wick   from   John Wick (2014)
flynn rider   from   tangled
megara   from   hercules
alice   from   alice in wonderland
merida   from   brave (2012)
Sweeney Todd   from   Sweeney Todd: Demon-barber from Fleet Street
Galvatron   from   Transformers: The Movie
Elsa   from   Frozen (2013)
Wade   from   Elemental (2023)
Harley Quinn   from   Suicide Squad
Fleur   from   The Way We Dance
Tony Stark   from   Iron Man
Alan Turing   from   The Imitation Game
Dr. Emmett Brown   from   Back to the Future
Simon Tam   from   Serenity
Q   from   Skyfall
Ave   from   Primer
Quincy Powell   from   Juice
Nanami   from   Jujutsu Kaisen
President Snow   from   The Hunger Games (2012)
Martin Matthias   from   Martin
Marty Puccio   from   Bully
Mike Waters   from   My Own Private Idaho
Dolores Claiborne   from   Dolores Claiborne
Butch   from   Dog Pound
Dawn Davenport   from   Female Trouble
Karl Childers   from   Sling Blade
Amelie Poulain   from   Amelie
Peter Quill   from   Guardians of the Galaxy Vol. 2
Thor Odinson   from   Thor:Ragnarok
Captain America   from   Avengers: Endgame
Mr Poppy   from   Nativity
Hermione Granger   from   Harry Potter and the Sorcerer's Stone
Bucky Barnes   from   Captain America: The Winter Soldier
Stephen Strange   from   Doctor Strange
Gwen Stacy   from   Spider-Man: Into the Spider-Verse
Sauron   from   Lord of the Rings: the Fellowship of the Ring
Severus Snape   from   Harry Potter: the Half-Blood Prince
Darth Vader   from   Star Wars III: Revenge of the Sith
John Wick   from   John Wick (2014)
Carol Ledoux   from   Repulsion
Choi Woo Shik    from    Parasite
Daniel Henney   from    Seducing Mr Perfect
Teo Yoo    from    Past Lives
Ulysses Everett McGill   from   O Brother, where art thou?
Dr. Horrible   from   Dr. Horribles Sing Along Blog
White Knight   from   Alice In Wonderland (1999)
Star    from    American Honey
 The Unicorn    from    The Last Unicorn
Ricky Fitts    from    American Beauty
Charlotte    from    Lost in Translation
Rambo   from   rambo
Daniel Jackson   from   stargate sg1
Cogo   from   starzinger
Jack sparrow   from   pirates of caribbean
Thor   from   thor
Ash   from   evil dead
Rico   from   starship troopers
V   from   V for vendetta
Neo   from   The matrix
Natasha Romanov   from   Avengers: Endgame
Immortan Joe   from   Mad Max: Fury Road
Thanos   from   Avengers: Infinity War
Ferris Bueller    from    Ferris Bueller's Day Off
Inigo Montoya    from    Princess Bride
Mercutio    from    Romeo + Juliet
Daphne    from    Some Like it Hot
Anna   from    Frozen (2013)
Louisa Clark   from   Me Before You
Clementine   from    Eternal Sunshine of the Spotless Mind
Jo March   from   Little Women
Taki   from   Your Name
Alex   from   Red, White & Royal Blue
Henry   from   Red, White & Royal Blue
Suzume   from   Suzume
Ishaan   from   Like stars on earth
Evelyn   from   Salt (2010)
Merida   from   Merida
Otto   from   A man called otto
Ursula   from   kiki's delivery service
loki laufeyson   from   thor
colette tatou   from   ratatouille
estella miller   from   cruella
kevin khatchadourian   from   we need to talk about kevin
ben solo   from   the last jedi
willy wonka   from   charlie and the chocolate factory
felonious gru   from   despicable me
flynn mcgarry   from   chef flynn
mulan   from   mulan
Lord Shen   from   Kung Fu Panda 2
Miles Morales   from   Into the Spiderverse
Lt Dan Taylor   from   Forrest Gump
Superman   from   Superman (1978)
Obi-Wan Kenobi   from   Star Wars Episode 3
Susan Pevensie   from   Chronicles of Narnia: The Lion, The Witch, and The Wardrobe
Peter B. Parker   from   Spiderman: Into the Spiderverse
Albert Narracott   from   War Horse
Hector Rivera   from   Coco
Richie Tozier   from   IT (2017)
Sirius Black   from   Harry Potter and Order of the Phoenix
Yoda   from   Empire Strikes Back
Theoden   from   The Two Towers
Jeriba   from   Enemy Mine
Hermoine   from   Harry Potter
Darcy   from   Pride and prejudice
Will traynor   from   Me before you
Violet Evergarden   from   Violet Evergarden: The Movie
Megan Walsh   from   Barely Lethal
Izzy   from   Izzy Gets the Fuck Across Town
Rick Deckard   from   Blade Runner (1982)
John McClane   from   Die Hard (1988)
Postal Dude   from   Postal (2007)
Eric Draven   from   The Crow (1994)
Jason Bourne   from   The Bourne Identity
Captain Jack Sparrow   from   Pirates of the Caribbean: The Curse of the Black Pearl
Credence Barebone   from   Fantastic Beasts and Where to Find Them
Harry Callahan   from   Dirty Harry
Elizabeth Anne Sanders   from   Buffy The Vampire Slayer
Wyborne (Wybie) Lovat   from   Coraline
Bucky Barnes   from   Captain America: The Winter Soldier
Flynn Rider   from   Rapunzel
Ashitaka   from   Princess Mononoke
Dale Cooper   from   Fire walk with me
Emma Woodhouse   from   Emma (2020)
Kiki   from   Kiki’s Delivery Service
Princess Leia   from   Star Wars
Amy March   from   Little Women (2019)
Rango   from    Rango
Spike Spiegel   from    Cowboy Bebop
Sirius Black   from    HP
John Wick   from    John Wick (2014)
Darth Vader   from    Star Wars
Indiana Jones   from    Indiana Jones
Rocky   from    Rocky (1976)
Harry Potter   from    Harry Potter
Batman   from    The Batman
Hans   from   Frozen II
Jillian Holtzmann   from   Ghostbusters (2016)
Tony Stark   from   The Avengers
Batman   from   The Dark Knight (2008)
Loki   from   The Avengers
Joker   from   The Dark Knight (2008)
Mitsuha and Taki   from   Your Name
Tony Stark   from   Iron Man 3
Batman   from   Batman (2022)
Captain America   from   Captain America
Olive Pendergast   from   Easy A
Percy Jackson   from   Percy Jackson And The Lightning Thief
Harley Quinn   from   birds of prey
Professor MacGonagall   from   Harry Potter and the Sorcerer's Stone
Indiana Jones   from   Raiders of the Lost Ark
Princess Leia Organa   from   Star Wars
Maria Von Trapp   from   The Sound of Music
Samwise Gamgee   from   Lord of The Rings
Chris Gardner   from   Pursuit of Happiness
Andrea Sachs   from   Devil Wears Prada
Marilou   from   Barber's Tales
Asuka Langley   from   The End of Evangelion
Ki-jung   from   Parasite
Christine McPherson   from   Lady Bird
Remy   from   Ratatouille
Holly Golightly   from   Breakfast at Tiffanys
Jenna   from   13 Going on 30
Patrick   from   10 Things I Hate about You
Mary Darling   from   Peter Pan (2003)
Tsu’tey te Rongloa Ateyitan   from   Avatar
Hobart “Spider-Punk” Brown   from   Spider-Man: Across the Spider-Verse
Anthony "Thin Man"   from   Charlie's Angels
Leticia "Letty" Ortiz   from   The Fast and the Furious
Abraham Sapien   from   Hellboy
John Wick   from   John Wick (2014)
Iron Man   from   Avengers
Liam Neeson   from   Taken
Robert McCall   from   Equalizer (2014)
Uncle Fester   from   The Addams Family
Zuse   from   Tron: Legacy
Gandalf   from   Lord Of The Rings
Tin Tin   from   The Adventures Of Tin Tin
Captain America   from   Captain America
Ip Man   from   Ip Man (2008)
The Big Friendly Giant   from   The BFG
Peter Quill   from   Guardians of the Galaxy
Tony Stark   from   Avengers
Katniss Everdeen   from   The Hunger Games (2012)
Joker   from   The Dark Knight (2008)
Tony Stark   from    Iron Man
Yoda    from    star wars
Severus Snape    from    Harry Potter
Kiri    from    avatar 2
Terminator (Arnold Schwarzenegger)    from    terminator 3
Uta   from   One Piece Film: Red
Eraserhead Baby   from   Eraserhead
The Duke   from   Fear and Loathing in Las Vegas

In [ ]:
sample = char_mbti_search('Iron Man', 'MCU')
sample

new_df = pd.concat([new_df, sample.to_frame().T], ignore_index=True)

new_df

In [38]:
def fetch_characters_in_franchise(franchise_name): 
    franchise_characters_mbti_df = characters_mbti_df[characters_mbti_df['movie']==franchise_name]
    franchise_characters_mbti_df.head(20)

    franchise_chars = list(franchise_characters_mbti_df['char'].head(10))

    retain_chars = 'a-zA-Z0-9\s\-'

    chars_in_franchise = pd.DataFrame({'char': franchise_chars, 'movie': 'MCU'})
    chars_in_franchise['char'] = chars_in_franchise['char'].str.replace(f'[^{retain_chars}]', '', regex=True)
    return chars_in_franchise

In [39]:
mcu_df = fetch_characters_in_franchise('MCU')
mcu_df

                             char movie
0                  Loki Laufeyson   MCU
1             Tony Stark Iron Man   MCU
2    Wanda Maximoff Scarlet Witch   MCU
3  Stephen Strange Doctor Strange   MCU
4                    Thor Odinson   MCU
5        Peter Parker  Spider-Man   MCU
6    Steve Rogers Captain America   MCU
7                          Thanos   MCU
8          Perter Quill Star-Lord   MCU
9    Natasha Romanoff Black Widow   MCU

## Getting the movie details

In [35]:
list_of_franchise_movies = pd.read_csv('../data/Data - list of franchised movies.csv', encoding='unicode_escape')
list_of_franchise_movies

,franchise,movie
0,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street (1984)
1,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 2: Freddy's Revenge ...
2,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 3: Dream Warriors (1...
3,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 4: The Dream Master ...
4,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 5: The Dream Child (...
...,...,...
405,X-Men Cinematic Universe (2011-2020),X-Men: Days of Future Past (2014)
406,X-Men Cinematic Universe (2011-2020),X-Men: Apocalypse (2016)
407,X-Men Cinematic Universe (2011-2020),Dark Phoenix (2019)
408,Zombieland (Franchise),Zombieland (2009)
409,Zombieland (Franchise),Zombieland: Double Tap (2019)

In [71]:
# movie_list = list(survey_responses_df['movie'])#[:10]
mcu_list = ['Iron Man (2008)', 'The Incredible Hulk (2008)', 'Iron Man 2 (2010)', 'Thor (2011)', 'Captain America: The First Avenger (2011)', 
            'The Avengers (2012)', 'Iron Man 3 (2013)', 'Thor: The Dark World (2013)', 'Captain America: The Winter Soldier (2014)',
            'Guardians of the Galaxy (2014)', 'Avengers: Age of Ultron (2015)', 'Ant-Man (2015)', 'Captain America: Civil War (2016)',
            'Doctor Strange (2016)', 'Guardians of the Galaxy Vol. 2 (2017)', 'Spider-Man: Homecoming (2017)',
            'Thor: Ragnarok (2017)', 'Black Panther (2018)', 'Avengers: Infinity War (2018)', 'Ant-Man and the Wasp (2018)',
            'Captain Marvel (2019)', 'Avengers: Endgame (2019)', 'Spider-Man: Far From Home (2019)', 'Black Widow (2021)',
            'Shang-Chi and the Legend of the Ten Rings (2021)', 'Eternals (2021)', 'Spider-Man: No Way Home (2021)',
            'Doctor Strange in the Multiverse of Madness (2022)', 'Thor: Love and Thunder (2022)', 'Black Panther: Wakanda Forever (2022)',
            'Ant-Man and the Wasp: Quantumania (2023)', 'Guardians of the Galaxy Vol. 3 (2023)', 'The Marvels (2023)'
]

mcu_dict_list = []
failed_list = []
for i, title in enumerate(mcu_list):
    try:
        title_replace = title.replace(' ', '+')
        split_title = title_replace.split('+(', maxsplit=1)
        title_part = split_title[0]
        # print('split title:', split_title[0])
        year_part = split_title[1].replace(')', '')
        # print('year:', year_part)
        
        url = 'https://api.themoviedb.org/3/search/movie?query=' + title_part + '&year=' + year_part + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'
        
    except:
        url = 'https://api.themoviedb.org/3/search/movie?query=' + title + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'
    
    # print(str(url))
    print(i, split_title[0])

    try:
        response = requests.get(url, headers=headers)
        data = response.json()

        # While data above is a dictionary, it contains more dictionaries within it, so narrow down
        movie_data = data['results'][0]
        print(i, movie_data['title'])
        mcu_dict_list.append(movie_data)
    except:
        failed_list.append(title)
        print('Failed', len(failed_list))
    print()
    
#     survey_responses_df.at[i, 'new_title'] = movie_data['title']
# survey_responses_df

split title: Iron+Man
year: 2008
0 Iron+Man
0 Iron Man

split title: The+Incredible+Hulk
year: 2008
1 The+Incredible+Hulk
1 The Incredible Hulk

split title: Iron+Man+2
year: 2010
2 Iron+Man+2
2 Iron Man 2

split title: Thor
year: 2011
3 Thor
3 Thor

split title: Captain+America:+The+First+Avenger
year: 2011
4 Captain+America:+The+First+Avenger
4 Captain America: The First Avenger

split title: The+Avengers
year: 2012
5 The+Avengers
5 The Avengers

split title: Iron+Man+3
year: 2013
6 Iron+Man+3
6 Iron Man 3

split title: Thor:+The+Dark+World
year: 2013
7 Thor:+The+Dark+World
7 Thor: The Dark World

split title: Captain+America:+The+Winter+Soldier
year: 2014
8 Captain+America:+The+Winter+Soldier
8 Captain America: The Winter Soldier

split title: Guardians+of+the+Galaxy
year: 2014
9 Guardians+of+the+Galaxy
9 Guardians of the Galaxy

split title: Avengers:+Age+of+Ultron
year: 2015
10 Avengers:+Age+of+Ultron
10 Avengers: Age of Ultron

split title: Ant-Man
year: 2015
11 Ant-Man
11 Ant-Man

split title: Captain+America:+Civil+War
year: 2016
12 Captain+America:+Civil+War
12 Captain America: Civil War

split title: Doctor+Strange
year: 2016
13 Doctor+Strange
13 Doctor Strange

split title: Guardians+of+the+Galaxy+Vol.+2
year: 2017
14 Guardians+of+the+Galaxy+Vol.+2
14 Guardians of the Galaxy Vol. 2

split title: Spider-Man:+Homecoming
year: 2017
15 Spider-Man:+Homecoming
15 Spider-Man: Homecoming

split title: Thor:+Ragnarok
year: 2017
16 Thor:+Ragnarok
16 Thor: Ragnarok

split title: Black+Panther
year: 2018
17 Black+Panther
17 Black Panther

split title: Avengers:+Infinity+War
year: 2018
18 Avengers:+Infinity+War
18 Avengers: Infinity War

split title: Ant-Man+and+the+Wasp
year: 2018
19 Ant-Man+and+the+Wasp
19 Ant-Man and the Wasp

split title: Captain+Marvel
year: 2019
20 Captain+Marvel
20 Captain Marvel

split title: Avengers:+Endgame
year: 2019
21 Avengers:+Endgame
21 Avengers: Endgame

split title: Spider-Man:+Far+From+Home
year: 2019
22 Spider-Man:+Far+From+Home
22 Spider-Man: Far From Home

split title: Black+Widow
year: 2021
23 Black+Widow
23 Black Widow

split title: Shang-Chi+and+the+Legend+of+the+Ten+Rings
year: 2021
24 Shang-Chi+and+the+Legend+of+the+Ten+Rings
24 Shang-Chi and the Legend of the Ten Rings

split title: Eternals
year: 2021
25 Eternals
25 Eternals

split title: Spider-Man:+No+Way+Home
year: 2021
26 Spider-Man:+No+Way+Home
26 Spider-Man: No Way Home

split title: Doctor+Strange+in+the+Multiverse+of+Madness
year: 2022
27 Doctor+Strange+in+the+Multiverse+of+Madness
27 Doctor Strange in the Multiverse of Madness

split title: Thor:+Love+and+Thunder
year: 2022
28 Thor:+Love+and+Thunder
28 Thor: Love and Thunder

split title: Black+Panther:+Wakanda+Forever
year: 2022
29 Black+Panther:+Wakanda+Forever
29 Black Panther: Wakanda Forever

split title: Ant-Man+and+the+Wasp:+Quantumania
year: 2023
30 Ant-Man+and+the+Wasp:+Quantumania
30 Ant-Man and the Wasp: Quantumania

split title: Guardians+of+the+Galaxy+Vol.+3
year: 2023
31 Guardians+of+the+Galaxy+Vol.+3
31 Guardians of the Galaxy Vol. 3

split title: The+Marvels
year: 2023
32 The+Marvels
32 The Marvels

In [73]:
mcu_details_df = pd.DataFrame(data=mcu_dict_list)
mcu_details_df.drop(columns=['adult', 'backdrop_path', 'original_language', 'original_title', 'overview', 'poster_path', 'video'], inplace=True)
mcu_details_df

,genre_ids,id,popularity,release_date,title,vote_average,vote_count
0,"[28, 878, 12]",1726,158.132,2008-04-30,Iron Man,7.644,25738
1,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428
2,"[12, 28, 878]",10138,438.602,2010-04-28,Iron Man 2,6.840,20449
3,"[12, 14, 28]",10195,86.832,2011-04-21,Thor,6.769,20642
4,"[28, 12, 878]",1771,61.189,2011-07-22,Captain America: The First Avenger,6.999,20908
5,"[878, 28, 12]",24428,184.395,2012-04-25,The Avengers,7.713,30034
6,"[28, 12, 878]",68721,288.102,2013-04-18,Iron Man 3,6.928,21681
7,"[28, 12, 14]",76338,87.117,2013-10-30,Thor: The Dark World,6.530,16870
8,"[28, 12, 878]",100402,45.627,2014-03-20,Captain America: The Winter Soldier,7.665,18281
9,"[28, 878, 12]",118340,64.892,2014-07-30,Guardians of the Galaxy,7.907,27428
10,"[28, 12, 878]",99861,120.591,2015-04-22,Avengers: Age of Ultron,7.272,22437
11,"[878, 28, 12]",102899,71.550,2015-07-14,Ant-Man,7.079,19268
12,"[12, 28, 878]",271110,148.022,2016-04-27,Captain America: Civil War,7.442,22169
13,"[28, 12, 14]",284052,436.230,2016-10-25,Doctor Strange,7.423,21586
14,"[878, 12, 28]",283995,89.797,2017-04-19,Guardians of the Galaxy Vol. 2,7.621,21031
15,"[28, 12, 878, 18]",315635,314.887,2017-07-05,Spider-Man: Homecoming,7.337,21213
16,"[28, 12, 878]",284053,434.357,2017-10-02,Thor: Ragnarok,7.593,20207
17,"[28, 12, 878]",284054,419.257,2018-02-13,Black Panther,7.385,21665
18,"[12, 28, 878]",299536,301.378,2018-04-25,Avengers: Infinity War,8.246,28880
19,"[28, 12, 878]",363088,65.029,2018-07-04,Ant-Man and the Wasp,6.941,12920
20,"[28, 12, 878]",299537,425.841,2019-03-06,Captain Marvel,6.824,15267
21,"[12, 878, 28]",299534,240.886,2019-04-24,Avengers: Endgame,8.255,24870
22,"[28, 12, 878]",429617,124.720,2019-06-28,Spider-Man: Far From Home,7.430,15147
23,"[28, 12, 878]",497698,253.400,2021-07-07,Black Widow,7.257,9802
24,"[28, 12, 14]",566525,108.803,2021-09-01,Shang-Chi and the Legend of the Ten Rings,7.559,9008
25,"[878, 28, 12]",524434,83.478,2021-11-03,Eternals,6.880,7949
26,"[28, 12, 878]",634649,229.906,2021-12-15,Spider-Man: No Way Home,7.967,19386
27,"[14, 28, 12]",453395,119.013,2022-05-04,Doctor Strange in the Multiverse of Madness,7.305,8624
28,"[14, 28, 35]",616037,214.156,2022-07-06,Thor: Love and Thunder,6.469,7159
29,"[28, 12, 878]",505642,232.408,2022-11-09,Black Panther: Wakanda Forever,7.129,6135
30,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675
31,"[878, 12, 28]",447365,169.896,2023-05-03,Guardians of the Galaxy Vol. 3,7.971,6264
32,"[878, 12, 28]",609681,386.437,2023-11-08,The Marvels,6.146,2298

## Getting the characters in each movie

In [120]:
# url = "https://api.themoviedb.org/3/movie/346698/credits?language=en-US"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYmMwMDBjMGE5YzZjZmNkMDYxYWIyN2EzMjA1YjM0NiIsInN1YiI6IjY2NDRlMzUzM2YwMGEzYTg5YjViZDFkMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._E0exiVUWU6c_FyyCeGdqQpaOM_tFDreyWlV6bmclPk"
}
response = requests.get(url, headers=headers)

mcu_id_list = list(mcu_details_df['id'])
print(mcu_id_list)

cast_dict_list = []
dict_list = []
for movie_id in mcu_id_list:
    url = 'https://api.themoviedb.org/3/movie/' + str(movie_id) + '/credits?language=en-US'
    response = requests.get(url, headers=headers)
    data = response.json()
    cast_len = len(data['cast'])
    movie_id_dict = {'movie_id': movie_id}
    for cast in range(cast_len):
        new_cast = data['cast'][cast]
        new_cast.update(movie_id_dict)
        cast_dict_list.append(data['cast'][cast])

[1726, 1724, 10138, 10195, 1771, 24428, 68721, 76338, 100402, 118340, 99861, 102899, 271110, 284052, 283995, 315635, 284053, 284054, 299536, 363088, 299537, 299534, 429617, 497698, 566525, 524434, 634649, 453395, 616037, 505642, 640146, 447365, 609681]

In [121]:
mcu_cast_df = pd.DataFrame(data=cast_dict_list)
mcu_cast_drop_df = mcu_cast_df.drop(columns=['adult', 'original_name', 'profile_path', 'credit_id', 'order', 'cast_id'])
mcu_cast_drop_df

,gender,id,known_for_department,name,popularity,character,movie_id
0,2,3223,Acting,Robert Downey Jr.,87.067,Tony Stark / Iron Man,1726
1,2,18288,Acting,Terrence Howard,44.388,James 'Rhodey' Rhodes,1726
2,2,1229,Acting,Jeff Bridges,49.995,Obadiah Stane / Iron Monger,1726
3,1,12052,Acting,Gwyneth Paltrow,37.712,Virginia 'Pepper' Potts,1726
4,1,57451,Acting,Leslie Bibb,35.242,Reporter Christine Everhart,1726
...,...,...,...,...,...,...,...
2422,1,130640,Acting,Hailee Steinfeld,69.213,Kate Bishop,609681
2423,2,7090,Acting,Kelsey Grammer,28.765,Dr. Henry 'Hank' McCoy / Beast,609681
2424,1,2258733,Acting,Akira Akbar,19.315,Monica Rambeau (11 Years Old) (archive footage...,609681
2425,2,9642,Acting,Jude Law,56.678,Yon-Rogg (archive footage) (uncredited),609681
2426,1,516,Acting,Annette Bening,41.503,Dr. Wendy Lawson (archive footage) (uncredited),609681

In [188]:
mcu_cast_details_merged = mcu_details_df.merge(mcu_cast_drop_df, how='outer', left_on='id', right_on='movie_id')
mcu_cast_details_dropped = mcu_cast_details_merged[mcu_cast_details_merged['known_for_department']=='Acting']
mcu_cast_details_dropped

,genre_ids,id_x,popularity_x,release_date,title,vote_average,vote_count,gender,id_y,known_for_department,name,popularity_y,character,movie_id
0,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,2,819,Acting,Edward Norton,52.197,Bruce Banner / The Hulk,1724
1,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,1,882,Acting,Liv Tyler,42.919,Betty Ross,1724
2,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,2,3129,Acting,Tim Roth,36.861,Emil Blonsky / Abomination,1724
3,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,2,227,Acting,William Hurt,27.191,General 'Thunderbolt' Ross,1724
4,"[878, 28, 12]",1724,70.611,2008-06-12,The Incredible Hulk,6.209,11428,2,1462,Acting,Tim Blake Nelson,28.783,Samuel Sterns,1724
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,1,1717900,Acting,Loveday Smith,6.783,Janet Van Dyne Acting Double,640146
2423,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,0,3909172,Acting,John Townsend,0.181,Lord Krylar Acting Photo Double,640146
2424,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,2,91606,Acting,Tom Hiddleston,52.657,Loki (uncredited),640146
2425,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,2,887,Acting,Owen Wilson,63.665,Mobius M. Mobius (uncredited),640146
2426,"[28, 12, 878]",640146,95.005,2023-02-15,Ant-Man and the Wasp: Quantumania,6.351,4675,1,1360010,Acting,Abby Ryder Fortson,30.764,Cassie Lang (archive footage) (uncredited),640146

In [158]:
def get_first_word(s):
    # Strip leading/trailing whitespace and split the string
    words = s.strip().split()
    # Return the first word if the list is not empty, else return an empty string
    return words[0] if words else ''
get_first_word('Loki Laufeyson')

'Loki'

In [ ]:
def get_first_two_words(s):
    # Strip leading/trailing whitespace and split the string
    words = s.strip().split()
    # Join and return the first two words if the list is not empty, else return an empty string
    return ' '.join(words[:2])

In [179]:
def movies_per_character(char):
    try:
        two_words = get_first_two_words(char)
        bool_series = mcu_cast_details_merged['character'].str.contains(two_words)
    except:
        first_word = get_first_word(char)
        bool_series = mcu_cast_details_merged['character'].str.contains(first_word)

    if bool_series.any():
        index = bool_series[bool_series].index  # Or use bool_series for all matches
        # print(index)
    movies_per_char_df = mcu_cast_details_merged.loc[index]
    movies_per_char_df.drop_duplicates('id_x', inplace=True)
    movies_list_of_char = list(movies_per_char_df['title'])
    return movies_list_of_char

lista = movies_per_character('Peter')
lista

['Guardians of the Galaxy',
 'Captain America: Civil War',
 'Guardians of the Galaxy Vol. 2',
 'Avengers: Endgame',
 'Avengers: Infinity War',
 'Spider-Man: Homecoming',
 'Spider-Man: Far From Home',
 'Guardians of the Galaxy Vol. 3',
 'Thor: Love and Thunder',
 'Spider-Man: No Way Home']

In [183]:
mcu_list_movies_df = mcu_df.copy()

for i in range(len(mcu_list_movies_df)):
    mcu_list_movies_df.loc[i, "movie"] = movies_per_character(str(mcu_list_movies_df.at[i, 'char']))

mcu_list_movies_df

,char,movie
0,Loki Laufeyson,"[Thor, The Avengers, Thor: The Dark World, Tho..."
1,Tony Stark Iron Man,"[The Incredible Hulk, Iron Man, Iron Man 2, Th..."
2,Wanda Maximoff Scarlet Witch,"[Avengers: Age of Ultron, Captain America: The..."
3,Stephen Strange Doctor Strange,"[Doctor Strange, Thor: Ragnarok, Avengers: End..."
4,Thor Odinson,"[Thor, The Avengers, Thor: The Dark World, Ave..."
5,Peter Parker Spider-Man,"[Guardians of the Galaxy, Captain America: Civ..."
6,Steve Rogers Captain America,"[Captain America: The First Avenger, The Aveng..."
7,Thanos,"[Avengers: Age of Ultron, Guardians of the Gal..."
8,Peter Quill Star-Lord,"[Guardians of the Galaxy, Captain America: Civ..."
9,Natasha Romanoff Black Widow,"[Iron Man 2, The Avengers, Avengers: Age of Ul..."

In [181]:
# movie_list = pd.DataFrame({'movie': mcu_list})
# movie_list

# movie_list.to_csv('../data/Data - franchised movies.csv', index=False)