In [1]:
import requests
import json
import urllib.request
import pandas as pd
import ast

In [43]:
response_details_merge = pd.read_csv('../data/Data 6 - Merged Responses and Movie Details.csv', encoding='unicode_escape')
response_details_merge.head()

,id_x,person_mbti,mbti_test,character,movie,new_title,genre_ids,id_y,popularity,release_date,title,vote_average,vote_count
0,0,ENFP,michaelcaloz.com,Tony Stark,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,24/04/2019,Avengers: Endgame,8.255,24867
1,0,ENFP,michaelcaloz.com,Rocket Raccoon,Guardians of the Galaxy Vol. 3,Guardians of the Galaxy Vol. 3,"[878, 12, 28]",447365,169.896,03/05/2023,Guardians of the Galaxy Vol. 3,7.972,6262
2,0,ENFP,michaelcaloz.com,Captain America,Avengers: Endgame,Avengers: Endgame,"[12, 878, 28]",299534,240.886,24/04/2019,Avengers: Endgame,8.255,24867
3,0,ENFP,michaelcaloz.com,Peter Parker,Spider-Man: Far From Home,Spider-Man: Far From Home,"[28, 12, 878]",429617,124.720,28/06/2019,Spider-Man: Far From Home,7.400,15144
4,0,ENFP,michaelcaloz.com,Hobie Brown,Spider-Man: Across the Spider-Verse,Spider-Man: Across the Spider-Verse,"[16, 28, 12, 878]",569094,187.181,31/05/2023,Spider-Man: Across the Spider-Verse,8.366,6265

# Actions
### Columns to be removed
- `Unnamed: 0`
- `movie` and `title` since `new_title` was assigned to hold the actual movie title in Script 4
- `vote_count`
### Renames
- `id_x` as `person_id`
- `new_title` as `movie`
- `id_y` as `movie_id`
- `popularity` as `movie_popularity`
- `vote_average` as `movie_vote_avg`
### Others
- Change `release_date` to only capture year information as `movie_year`

In [51]:
response_details = response_details_merge.copy()

response_details.drop(columns = ['person_mbti', 'movie', 'title', 'vote_count'], inplace=True)
response_details.rename(columns = {'id_x':'person_id', 'new_title':'movie', 'id_y':'movie_id', 'popularity':'movie_popularity', 'vote_average':'movie_vote_avg'}, inplace = True)
response_details['movie_year'] = response_details_merge['release_date'].astype(str).str[:4]
response_details.drop(columns = ['release_date'], inplace=True)


retain_chars = 'a-zA-Z0-9\s\-:–\(\)'

response_details['character'] = response_details['character'].str.lower().replace(f'[^{retain_chars}]', '', regex=True)
response_details['movie'] = response_details['movie'].str.lower().replace(f'[^{retain_chars}]', '', regex=True)

response_details

,person_id,mbti_test,character,movie,genre_ids,movie_id,movie_popularity,movie_vote_avg,movie_year
0,0,michaelcaloz.com,tony stark,avengers: endgame,"[12, 878, 28]",299534,240.886,8.255,24/0
1,0,michaelcaloz.com,rocket raccoon,guardians of the galaxy vol 3,"[878, 12, 28]",447365,169.896,7.972,03/0
2,0,michaelcaloz.com,captain america,avengers: endgame,"[12, 878, 28]",299534,240.886,8.255,24/0
3,0,michaelcaloz.com,peter parker,spider-man: far from home,"[28, 12, 878]",429617,124.720,7.400,28/0
4,0,michaelcaloz.com,hobie brown,spider-man: across the spider-verse,"[16, 28, 12, 878]",569094,187.181,8.366,31/0
...,...,...,...,...,...,...,...,...,...
700,123,michaelcaloz.com,agent smith,the matrix,"[28, 878]",603,575.344,8.215,31/0
701,123,michaelcaloz.com,daniel plainview,there will be blood,[18],7345,36.996,8.084,26/1
702,123,michaelcaloz.com,eraserhead baby,eraserhead,"[14, 27]",985,67.775,7.400,03/0
703,123,michaelcaloz.com,patrick bateman,american psycho,"[53, 18, 80]",1359,84.339,7.404,13/0
704,123,michaelcaloz.com,the duke,fear and loathing in las vegas,"[12, 18, 35]",1878,43.774,7.200,19/0

In [52]:
char_mbti_df = pd.read_csv('../data/Data 8 - Franchise-expanded Movies from Data 2.csv', encoding='unicode_escape')

char_mbti_df['char'] = char_mbti_df['char'].str.lower().replace(f'[^{retain_chars}]', '', regex=True)
char_mbti_df['movie'] = char_mbti_df['movie'].str.lower().replace(f'[^{retain_chars}]', '', regex=True)

char_mbti_df

                          char                   movie  mbti  votes
0                guido anselmi                    8 12  INTP     57
1      king leonidas of sparta                     300  ENTJ    460
2                    artemisia                     300  ENTJ    127
3                       xerxes                     300  INTJ    103
4                        gorgo                     300  INFJ     62
...                        ...                     ...   ...    ...
10718                  gazelle         zootopia (2016)  ESFP    107
10719               mr manchas         zootopia (2016)  ISFJ     40
10720              doug ramses         zootopia (2016)  INTP     30
10721                   travis         zootopia (2016)  ESTP     27
10722             alexis zorba  zorba the greek (1964)  ENFP     39

[10723 rows x 4 columns]

In [46]:
zero = response_details.iloc[-1]
char = zero['character']
movie = zero['movie']
print(char, movie)

the duke fear and loathing in las vegas

In [47]:
char_mbti_df_copy = char_mbti_df.copy()
query_bool = char_mbti_df_copy['char'].str.contains(char) & char_mbti_df_copy['movie'].str.contains(movie)
# query_bool =  query_bool[query_bool.values==True]
char_mbti_df_copy = char_mbti_df_copy[query_bool]
char_mbti_df_copy
# print(query_bool)

Empty DataFrame
Columns: [char, movie, mbti, votes]
Index: []

In [53]:
char_mbti_df_copy = char_mbti_df.copy()

failed_index = []
failed_char = []
failed_movie = []

k = len(response_details)
# k = 5

for i in range(k):
    zero = response_details.iloc[i]
    char = zero['character']
    movie = zero['movie']
    # print(char, movie)

    query_bool = char_mbti_df_copy['char'].str.contains(char) & char_mbti_df_copy['movie'].str.contains(movie)
    char_mbti_query = char_mbti_df_copy[query_bool]
    try:
        char_df_subset = char_mbti_query.iloc[0]
        # print(i, char_df_subset['char'], char_df_subset['mbti'])
    except:
        print(i, '      FAILED!  ', char,  '    ', movie)
        failed_index.append(i)
        failed_char.append(char)
        failed_movie.append(movie)

failed_df = pd.DataFrame({'failed_index': failed_index, 'failed_char': failed_char, 'failed_movie': failed_movie})
failed_df

23       FAILED!   mathilda      mathilda
34       FAILED!   yorichii       demon slayer: kimetsu no yaiba -to the hashira training-
44       FAILED!   jang okju      ballerina
46       FAILED!   jordan turner      the call
55       FAILED!   jiro horikoshi      the wind rises
56       FAILED!   gretta      begin again
57       FAILED!   sakura yamauchi      let me eat your pancreas
58       FAILED!   makoto konno      the girl who leapt through time
63       FAILED!   willy wonka       charlie and the chocolate factory
64       FAILED!   sherlock holmes       sherlock holmes
65       FAILED!   kirk lazarus       tropic thunder
66       FAILED!   alexander claremont-diaz      red white  royal blue
67       FAILED!   hannibal lecter       the silence of the lambs
68       FAILED!   hamish mycroft  merlin      kingsman: the secret service
72       FAILED!   capt manuel      seven sundays
73       FAILED!   gojo satori      jujutsu kaisen 0
74       FAILED!   amy dunne      gone girl
75       FAILED!   uta      one piece film red
77       FAILED!   bryan      seven sundays
88       FAILED!   stella mate      crying ladies
89       FAILED!   maya      birdshot
92       FAILED!   jiro horikoshi      the wind rises
95       FAILED!   haru      spirited away
96       FAILED!   princess mia      the princess diaries
97       FAILED!   maaya kisaragi      and yet you are so sweet
105       FAILED!   honeylemon      big hero 6
106       FAILED!   katniss everdeen       the hunger games
107       FAILED!   debbie       oceans eight
108       FAILED!   roxy       kingsman: the secret service
109       FAILED!   rachel chu       crazy rich asians
110       FAILED!   elle woods       legally blonde
111       FAILED!   christopher       the pursuit of happiness
112       FAILED!   lucy gray       the hunger games: the ballad of songbirds  snakes
114       FAILED!   trinity       the matrix
118       FAILED!   rapunzel      tangled
120       FAILED!   elizabeth bennet      pride  prejudice
122       FAILED!   lisa      ponyo
123       FAILED!   shoko nishimiya      a silent voice: the movie
124       FAILED!   linda go      mano po
125       FAILED!   lin      spirited away
129       FAILED!   sebastian wilder      la la land
135       FAILED!   ashitaka       princess mononoke
136       FAILED!    hiromitsu kosuke       no longer heroine
137       FAILED!   howl pendragon       howls moving castle
138       FAILED!   dirk burton       left behind
139       FAILED!   jiro horikoshi       the wind rises
140       FAILED!   marnie       when marnie was there
141       FAILED!   lord tewksbury       enola holmes
143       FAILED!   rapunzel      tangled
146       FAILED!   gavroche      les misrables
147       FAILED!   kyojuro rengoku      demon slayer -kimetsu no yaiba- the movie: mugen train
148       FAILED!   enjolras      les misrables
150       FAILED!   jace wayland       the mortal instruments: city of bones
151       FAILED!   katniss everdeen       the hunger games
152       FAILED!   shrek       shrek
153       FAILED!   john wick       john wick
154       FAILED!   fa mulan       mulan
155       FAILED!   levi ackerman       attack on titan
156       FAILED!   kate dibiasky       dont look up
158       FAILED!   sherlock holmes       sherlock holmes
160       FAILED!   neo       the matrix
164       FAILED!   sophie      aftersun
165       FAILED!   president snow      the hunger games: the ballad of songbirds  snakes
168       FAILED!   bruce wayne      batman returns
169       FAILED!   jack sparrow      pirates of the caribbean: the curse of the black pearl
172       FAILED!   nathan algren      the last samurai
174       FAILED!   dr strange      doctor strange
175       FAILED!   spiderman      spider-man: far from home
176       FAILED!   yuta okkotsu      jujutsu kaisen 0
181       FAILED!   akaza      demon slayer -kimetsu no yaiba- the movie: mugen train
185       FAILED!   chihiro       spirited away
186       FAILED!   luna lovegood       harry potter and the philosophers stone
187       FAILED!   howl       howls moving castle
189       FAILED!   joker       joker
190       FAILED!   karen smith       mean girls
192       FAILED!   gru      despicable me 4
193       FAILED!   dr strange      doctor strange
195       FAILED!   haku      spirited away
196       FAILED!   harley quinn      birds of prey (and the fantabulous emancipation of one harley quinn)
206       FAILED!   ip kai man      ip man
210       FAILED!   raven      teen titans: trouble in tokyo
214       FAILED!   beatrice prior       divergent
217       FAILED!   maximus      gladiator
218       FAILED!   howl      howls moving castle
221       FAILED!   evelyn salt      saltburn
223       FAILED!   suzume iwato      suzume

C:\Users\Marco\AppData\Local\Temp\ipykernel_19784\4136469517.py:16: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  query_bool = char_mbti_df_copy['char'].str.contains(char) & char_mbti_df_copy['movie'].str.contains(movie)

224       FAILED!   professor langdon      the da vinci code
228       FAILED!   captain underpants      captain underpants: the first epic movie
232       FAILED!   yas      rye lane
233       FAILED!   alice      plus one
236       FAILED!   sasha tran      always be my maybe
244       FAILED!   dr emmett brown      back to the future
247       FAILED!   shun      from up on poppy hill
248       FAILED!   park ki joon      midnight runners
249       FAILED!   padre burgos      gomburza
250       FAILED!   howl      howls moving castle
252       FAILED!   howl      howls moving castle
253       FAILED!   rajun      3 idiots
254       FAILED!   sophie      howls moving castle
256       FAILED!   isabelle madrigal      encanto
258       FAILED!   gojo      jujutsu kaisen 0
259       FAILED!   mei mei      jujutsu kaisen 0
260       FAILED!   elle woods      legally blondes
273       FAILED!   elizabeth bennet      pride  prejudice
274       FAILED!   jane smith      mr-9: do or die
278       FAILED!   nina      point of no return
282       FAILED!   veneer      trolls band together
286       FAILED!   arrietty      the secret world of arrietty
291       FAILED!   bakugo      my hero academia: world heroes mission
295       FAILED!   hobart brown      spider-man: across the spider-verse
299       FAILED!   12th doctor      twice upon a time
301       FAILED!   the flash      justice league: crisis on infinite earths part two
311       FAILED!   will turner      pirates of the caribbean: the curse of the black pearl
313       FAILED!   obi wan kenobi       star wars
314       FAILED!   ferdinand the bull      ferdinand the bull
315       FAILED!   forest gump      forrest gump
319       FAILED!   miller      event horizon
323       FAILED!   robin hood      robin hood
325       FAILED!   korso      titan ae
326       FAILED!   henry tilney      northanger abbey
328       FAILED!   jake hangman seresin      top gun: maverick
336       FAILED!   astronaut sam      moon
337       FAILED!   mima kirigoe      perfect blue
342       FAILED!   forrest gump       forrest gump
345       FAILED!   aragorn       the lord of the rings: the return of the king
346       FAILED!   lizzie bennet      pride  prejudice
347       FAILED!   the djinn      three thousand years of longing
351       FAILED!   cinderella       cinderella
352       FAILED!   maleficent      maleficent
353       FAILED!   haku      spirited away
354       FAILED!   turnip      howls moving castle
355       FAILED!   murray      hotel transylvania: transformania
357       FAILED!   ponyo      ponyo
359       FAILED!   chris nielsen      what dreams may come
363       FAILED!   alexander dane      galaxy quest
370       FAILED!   toothless      how to train your dragon 2
371       FAILED!   j  daniel atlas      now you see me
373       FAILED!   iva      walle
374       FAILED!   dori      finding nemo
376       FAILED!   lapis lazuli      steven universe: the movie
382       FAILED!   frank castle      the punisher
384       FAILED!   john rambo      rambo: first blood part ii
385       FAILED!   philippe petit      the walk
386       FAILED!   strider      the lord of the rings
388       FAILED!   cam      tracers
390       FAILED!   jake lonergan      cowboys  aliens
392       FAILED!   khaevis      damsel
393       FAILED!   frank martin      the transporter
394       FAILED!   soundwave      transformers: dark of the moon
395       FAILED!   mr fox      fantastic mr fox
396       FAILED!   michael nantz      battle: los angeles
399       FAILED!   jack sparrow      pirates of the caribbean: the curse of the black pearl
405       FAILED!   officer k      blade runner 2049
406       FAILED!   captain jack sparrow      pirates of the caribbean: at worlds end
417       FAILED!   galvatron      the transformers: the movie
424       FAILED!   fleur      the way we dance
426       FAILED!   alan turing      the imitation game
427       FAILED!   dr emmett brown      back to the future
428       FAILED!   luna lovegood      harry potter and the philosophers stone
429       FAILED!   simon tam      serenity
431       FAILED!   ave      primer
432       FAILED!   quincy powell      juice
435       FAILED!   nanami      jujutsu kaisen 0
436       FAILED!   president snow      the hunger games
439       FAILED!   martin matthias      martin
440       FAILED!   marty puccio      bully
441       FAILED!   mike waters      my own private idaho
443       FAILED!   dolores claiborne      dolores claiborne
444       FAILED!   butch      dog pound
445       FAILED!   dawn davenport      female trouble
447       FAILED!   karl childers      sling blade
449       FAILED!   amelie poulain      amlie
458       FAILED!   mr poppy      nativity
461       FAILED!   bucky barnes      captain america: the winter soldier
468       FAILED!   sauron      the lord of the rings: the fellowship of the ring
472       FAILED!   carol ledoux      repulsion
475       FAILED!   luna lovegood      harry potter and the philosophers stone
476       FAILED!   choi woo shik       parasite
477       FAILED!   daniel henney      seducing mr perfect
478       FAILED!   teo yoo       past lives
480       FAILED!   dr horrible      dr horribles sing-along blog
481       FAILED!   white knight      alice in wonderland
483       FAILED!   star       american honey
485       FAILED!   ricky fitts       american beauty
486       FAILED!   charlotte       lost in translation
487       FAILED!   rambo      rambo
488       FAILED!   daniel jackson      stargate sg-1: children of the gods
489       FAILED!   cogo      sci-fi west saga starzinger
490       FAILED!   jack sparrow      pirates of the caribbean: the curse of the black pearl
497       FAILED!   natasha romanov      avengers: endgame
502       FAILED!   emmet      the lego batman movie
503       FAILED!   immortan joe      mad max: fury road
507       FAILED!   ferris bueller       ferris buellers day off
508       FAILED!   inigo montoya       the princess bride
509       FAILED!   mercutio       romeo  juliet
510       FAILED!   daphne       some like it hot
512       FAILED!   louisa clark      me before you
515       FAILED!   taki      your name
516       FAILED!   alex      red white  royal blue
517       FAILED!   henry      red white  royal blue
518       FAILED!   suzume      suzume
521       FAILED!   merida      merida and campeche
523       FAILED!   ursula      kikis delivery service
526       FAILED!   estella miller      cruella
530       FAILED!   felonious gru      despicable me
531       FAILED!   flynn mcgarry      chef flynn
534       FAILED!   lord shen      kung fu panda 2
539       FAILED!   obi-wan kenobi      star wars: the last jedi
541       FAILED!   legolas      the lord of the rings: the return of the king
545       FAILED!   albert narracott      war horse
546       FAILED!   hector rivera      coco
550       FAILED!   yoda      the empire strikes back
551       FAILED!   theoden      the lord of the rings: the two towers
553       FAILED!   jeriba      enemy mine
554       FAILED!   hermoine      harry potter and the philosophers stone
559       FAILED!   violet evergarden      violet evergarden: the movie
561       FAILED!   megan walsh      barely lethal
563       FAILED!   izzy      izzy gets the fck across town
566       FAILED!   postal dude      postal
568       FAILED!   jason bourne      the bourne identity
569       FAILED!   captain jack sparrow      pirates of the caribbean: the curse of the black pearl
573       FAILED!   elizabeth anne sanders      buffy the vampire slayer
577       FAILED!   bucky barnes      captain america: the winter soldier
580       FAILED!   sirius black      harry potter and the philosophers stone
581       FAILED!   jack sparrow      pirates of the caribbean: the curse of the black pearl
583       FAILED!   flynn rider      rapunzel
585       FAILED!   ashitaka      princess mononoke
587       FAILED!   dale cooper      twin peaks: fire walk with me
590       FAILED!   kiki      kikis delivery service
594       FAILED!   princess leia      star wars
600       FAILED!   spike spiegel      cowboy bebop: the movie
601       FAILED!   sirius black      hp lovecrafts witch house
604       FAILED!   indiana jones      indiana jones and the dial of destiny
618       FAILED!   hades      hercules
623       FAILED!   mitsuha and taki      your name
628       FAILED!   olive pendergast      easy a
629       FAILED!   percy jackson      percy jackson  the olympians: the lightning thief
631       FAILED!   harley quinn      birds of prey (and the fantabulous emancipation of one harley quinn)
633       FAILED!   professor macgonagall      harry potter and the philosophers stone
637       FAILED!   indiana jones      raiders of the lost ark
638       FAILED!   princess leia organa      star wars
640       FAILED!   samwise gamgee      the lord of the rings: the return of the king
643       FAILED!   chris gardner      pursuit of happiness
644       FAILED!   andrea sachs      the devil wears prada
645       FAILED!   marilou      barbers tales
646       FAILED!   asuka langley      neon genesis evangelion: the end of evangelion
648       FAILED!   ki-jung      parasite
650       FAILED!   christine mcpherson      lady bird
651       FAILED!   remy      ratatouille
656       FAILED!   jack sparrow      pirates of the caribbean: the curse of the black pearl
664       FAILED!   anthony thin man      charlies angels
667       FAILED!   o-ren ishii cottonmouth      kill bill: vol 1
668       FAILED!   abraham sapien      hellboy
672       FAILED!   liam neeson      taken
676       FAILED!   jack sparrow      pirates of the caribbean: the curse of the black pearl
677       FAILED!   uncle fester      the addams family
678       FAILED!   zuse      tron: legacy
682       FAILED!   tin tin      the adventures of tin liao
685       FAILED!   the big friendly giant      the bfg
690       FAILED!   jack sparrow      pirates of the caribbean: the curse of the black pearl
694       FAILED!   yoda       star wars
695       FAILED!   severus snape       harry potter and the philosophers stone
696       FAILED!   kiri       avatar: the way of water
697       FAILED!   terminator      terminator 3: rise of the machines
699       FAILED!   uta      one piece film red
702       FAILED!   eraserhead baby      eraserhead
704       FAILED!   the duke      fear and loathing in las vegas

,failed_index,failed_char,failed_movie
0,23,mathilda,mathilda
1,34,yorichii,demon slayer: kimetsu no yaiba -to the hashira...
2,44,jang okju,ballerina
3,46,jordan turner,the call
4,55,jiro horikoshi,the wind rises
...,...,...,...
262,696,kiri,avatar: the way of water
263,697,terminator,terminator 3: rise of the machines
264,699,uta,one piece film red
265,702,eraserhead baby,eraserhead
266,704,the duke,fear and loathing in las vegas