In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Import selenium necessities
import time
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service as ChromeService

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
# Set up the Chrome WebDriver
options = webdriver.ChromeOptions()
prefs = {"profile.managed_default_content_settings.images": 2}
options.add_experimental_option("prefs", prefs)
# options.add_argument('--headless')
options.add_argument('--disable-gpu')
options.add_argument('--disable-blink-features=AutomationControlled')

# driver.implicitly_wait(60)

In [3]:
driver = webdriver.Chrome(options=options)
URL = "https://www.personality-database.com/en-US/profile?pid=2&cid=3&type1=8"
driver.get(URL)
# time.sleep(20)

In [278]:
driver.quit()

In [ ]:
next_page = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/section/main/div/div[2]/div/div[4]/ul/li[9]/button').click()
# next_page = WebDriverWait(driver, 20).until(EC.visibility_of_element_located((By.XPATH, '//button[@type="button" and @aria-label="next page" and @class="rc-pagination-item-link"]'))).click()

In [52]:
all_list_elements = driver.find_elements(By.XPATH, '//*[@id="root"]/div/section/main/div[1]/div[2]/div/div[4]/ul/li/a')

# In this case (by manual checking), element [-1] contains the last page number
number_of_pages = int(all_list_elements[-1].text)
# print(number_of_pages)

In [10]:
# Define a function to extract data from current page
def extract_page_data(driver):
    page_output = []

    # Locate all elements on the current page
    page_elements = driver.find_elements(By.XPATH, '//*[@id="root"]/div/section/main/div[1]/div[2]/div/div[4]')

    # Iterate through each element in the page
    for each_element in page_elements:
        # Extract the text content of each element
        each_element_value = each_element.get_attribute('innerHTML')
        page_output.append(each_element_value)

    print(page_output)

    return page_output

In [17]:
# Define a function to extract data from current page
def extract_page_data(driver):
    page_output = []

    # Locate all elements on the current page
    page_elements = driver.find_elements(By.XPATH, '//*[@id="root"]/div/section/main/div[1]/div[2]/div/div[4]')
    print(len(page_elements))
    # Iterate through each element in the page
    for i, each_element in enumerate(page_elements):
        # Extract the text content of each element
        each_element_value = each_element.get_attribute('innerHTML')

        char_element = each_element.find_elements(By.CLASS_NAME, 'info-name')
        movie_element = each_element.find_elements(By.CLASS_NAME, 'info-subcategory')
        mbti_element = each_element.find_elements(By.CLASS_NAME, 'personality')
        vote_element = each_element.find_elements(By.CLASS_NAME, 'vote-count')

        print(char_element[i].get_attribute('innerHTML'))

        # Extract 'label' from 'selenium.webdriver.remote.webelement.WebElement'
        print(movie_element[i].text)

        print(mbti_element[i].get_attribute('innerHTML'))
        print(vote_element[i].text)
        print()

        page_output.append(each_element_value)

    return page_output


# # Extract the text content of the first element in the list
# text_content = page_elements[0].get_attribute('innerHTML')

# char_element = page_elements[0].find_elements(By.CLASS_NAME, 'info-name')
# movie_element = page_elements[0].find_elements(By.CLASS_NAME, 'info-subcategory')
# mbti_element = page_elements[0].find_elements(By.CLASS_NAME, 'personality')
# vote_element = page_elements[0].find_elements(By.CLASS_NAME, 'vote-count')

# char_element = []
# movie_element = []
# mbti_element = []
# vote_element = []

# for i in range(10):
#     print(char_element[i].get_attribute('innerHTML'))

#     # Extract 'label' from 'selenium.webdriver.remote.webelement.WebElement'
#     print(movie_element[i].text)

#     print(mbti_element[i].get_attribute('innerHTML'))
#     print(vote_element[i].text)
#     print()

In [8]:
char_full_list = []
movie_full_list = []
mbti_full_list = []
vote_full_list = []

In [76]:
char_list = []
movie_list = []
mbti_list = []
vote_list = []
# Define a function to extract data from current page
def extract_page_data(driver):

    # Locate all elements on the current page
    page_elements = driver.find_elements(By.XPATH, '//*[@id="root"]/div/section/main/div[1]/div[2]/div/div[4]')

    char_element = page_elements[0].find_elements(By.CLASS_NAME, 'info-name')
    movie_element = page_elements[0].find_elements(By.CLASS_NAME, 'info-subcategory')
    mbti_element = page_elements[0].find_elements(By.CLASS_NAME, 'personality')
    vote_element = page_elements[0].find_elements(By.CLASS_NAME, 'vote-count')

    for i in range(83):
        # print(i)
        char_list.append(char_element[i].get_attribute('innerHTML'))
        # Extract 'label' from 'selenium.webdriver.remote.webelement.WebElement'
        movie_list.append(movie_element[i].text)
        mbti_list.append(mbti_element[i].get_attribute('innerHTML'))
        try:
            vote_list.append(vote_element[i].text)
        except:
            vote_list.append('0')
    return char_list, movie_list, mbti_list, vote_list

char, movie, mbti, votes = extract_page_data(driver)
df = pd.DataFrame({'char': char, 'movie': movie, 'mbti': mbti, 'votes': votes})
df

,char,movie,mbti,votes
0,Capt. Joseph J. Blocker,Hostiles (2017),ISTP,26 Pdb Votes
1,Aberforth Dumbledore,Harry Potter / Wizarding World Films,ISTP,224 Pdb Votes
2,Bolg,The Hobbit (Film Trilogy),ISTP,18 Pdb Votes
3,Hero Boy,The Polar Express (2004),ISTP,191 Pdb Votes
4,Gaston LaChaille,Gigi (1958),XXXX,5 Pdb Votes
...,...,...,...,...
78,Oddjob,James Bond Film Series,ISTP,38 Pdb Votes
79,Jill Layton,Brazil (1985),ISTP,11 Pdb Votes
80,Zam Wesell,Star Wars,ISTP,45 Pdb Votes
81,Sam Flynn,Tron (Series),ISTP,73 Pdb Votes
82,Quint,Jaws (1975),ISTP,153 Pdb Votes

In [77]:
char_full_list.extend(char_list)
movie_full_list.extend(movie_list)
mbti_full_list.extend(mbti_list)
vote_full_list.extend(vote_list)

df1 = pd.DataFrame({'char': char_full_list, 'movie': movie_full_list, 'mbti': mbti_full_list, 'votes': vote_full_list})
df1

                  char                         movie  mbti           votes
0          Rigel Wilde          The Tearsmith (2024)  ISTP   173 Pdb Votes
1     Katniss Everdeen  The Hunger Games (Franchise)  ISTP  4.5k Pdb Votes
2                  Lee              Civil War (2024)  ISTP    78 Pdb Votes
3                Shrek             Shrek (Franchise)  ISTP  3.9k Pdb Votes
4             Fa Mulan             Mulan (Franchise)  ISTP  3.5k Pdb Votes
...                ...                           ...   ...             ...
3278            Oddjob        James Bond Film Series  ISTP    38 Pdb Votes
3279       Jill Layton                 Brazil (1985)  ISTP    11 Pdb Votes
3280        Zam Wesell                     Star Wars  ISTP    45 Pdb Votes
3281         Sam Flynn                 Tron (Series)  ISTP    73 Pdb Votes
3282             Quint                   Jaws (1975)  ISTP   153 Pdb Votes

[3283 rows x 4 columns]

In [78]:
df1.to_csv('../data/Data - 08ISTP chars page 1-33 (100s) ALL.csv')
df1

                  char                         movie  mbti           votes
0          Rigel Wilde          The Tearsmith (2024)  ISTP   173 Pdb Votes
1     Katniss Everdeen  The Hunger Games (Franchise)  ISTP  4.5k Pdb Votes
2                  Lee              Civil War (2024)  ISTP    78 Pdb Votes
3                Shrek             Shrek (Franchise)  ISTP  3.9k Pdb Votes
4             Fa Mulan             Mulan (Franchise)  ISTP  3.5k Pdb Votes
...                ...                           ...   ...             ...
3278            Oddjob        James Bond Film Series  ISTP    38 Pdb Votes
3279       Jill Layton                 Brazil (1985)  ISTP    11 Pdb Votes
3280        Zam Wesell                     Star Wars  ISTP    45 Pdb Votes
3281         Sam Flynn                 Tron (Series)  ISTP    73 Pdb Votes
3282             Quint                   Jaws (1975)  ISTP   153 Pdb Votes

[3283 rows x 4 columns]