In [2]:
import numpy as np
import pandas as pd

### create function to go through each csv (shallow cleaning)

In [136]:
def shallow_clean_csv(mbti_filename, expected_MBTI):
    temp_mbti_df = pd.read_csv('../data/Data - '+ mbti_filename +'.csv')

    filtered_mbti_df = temp_mbti_df[temp_mbti_df['mbti'].isin([expected_MBTI,'XXXX'])]
    misplaced_len = len(temp_mbti_df) - len(filtered_mbti_df)

    filtered2_mbti_df = temp_mbti_df[temp_mbti_df['mbti'].isin([expected_MBTI])]

    vague_len = len(temp_mbti_df) - len(filtered2_mbti_df) - misplaced_len

    return filtered2_mbti_df, misplaced_len, vague_len

In [163]:
def convert_votes(vote_str):
    # Remove the non-numeric part and turn into a number
    
    # Check if the vote_str contains 'k' and convert accordingly
    if 'k' in vote_str:
        return float(vote_str.replace('k Pdb Votes', '')) * 1000        
    else:
        # initially try for number between 1 and 1000
        try:
            return float(vote_str.replace(' Pdb Votes', ''))
        # consider the singular case for 'vote'
        except:
            return float(vote_str.replace(' Pdb Vote', ''))

In [185]:
istj_df, istj_misplaced, istj_vague = shallow_clean_csv('01ISTJ', 'ISTJ')
print('Misplaced entries:', istj_misplaced)
print('Vague entries:', istj_vague)
print('ISTJ entries:', len(istj_df))
istj_df.reset_index(drop=True, inplace=True)
istj_df['votes'] = istj_df['votes'].apply(convert_votes).astype(int)
istj_df.sort_values('votes', ascending=False, inplace=True)
istj_df.head()

Misplaced entries: 49
Vague entries: 490
ISTJ entries: 3046

,Unnamed: 0,char,movie,mbti,votes
0,1,Darth Vader,Star Wars,ISTJ,3300
4,5,Alma “Abuela” Madrigal,Encanto (2021),ISTJ,1900
7,9,Carl Fredricksen,Up (2009),ISTJ,1700
1,2,Tigress,Kung Fu Panda (Franchise),ISTJ,1700
8,10,Astrid Hofferson,How to Train Your Dragon (Franchise),ISTJ,1300

In [186]:
estj_df, estj_misplaced, estj_vague = shallow_clean_csv('02ESTJ', 'ESTJ')
print('Misplaced entries:', estj_misplaced)
print('Vague entries:', estj_vague)
print('ISTJ entries:', len(estj_df))
estj_df.reset_index(drop=True, inplace=True)
estj_df['votes'] = estj_df['votes'].apply(convert_votes).astype(int)
estj_df.sort_values('votes', ascending=False, inplace=True)
estj_df.head()

Misplaced entries: 56
Vague entries: 481
ISTJ entries: 3161

,Unnamed: 0,char,movie,mbti,votes
1,1,Hermione Granger,Harry Potter / Wizarding World Films,ESTJ,7300
0,0,Regina George,Mean Girls (2004),ESTJ,6600
2,2,Draco Malfoy,Harry Potter / Wizarding World Films,ESTJ,4600
3,3,Isabela Madrigal,Encanto (2021),ESTJ,3600
4,4,Tiana,The Princess and the Frog (2009),ESTJ,2500