In [1]:
import requests
import json
import urllib.request
import pandas as pd
import ast

In [2]:
# Header for API
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYmMwMDBjMGE5YzZjZmNkMDYxYWIyN2EzMjA1YjM0NiIsInN1YiI6IjY2NDRlMzUzM2YwMGEzYTg5YjViZDFkMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._E0exiVUWU6c_FyyCeGdqQpaOM_tFDreyWlV6bmclPk"
}

In [5]:
characters_mbti_df = pd.read_csv('../data/Data 8 - Franchise-expanded Movies from Data 2.csv', encoding='unicode_escape')
# survey_responses_df.drop(columns='Unnamed: 0', inplace=True)
characters_mbti_df

                          char                   movie  mbti  votes
0                Guido Anselmi                   8 1/2  INTP     57
1      King Leonidas of Sparta                     300  ENTJ    460
2                    Artemisia                     300  ENTJ    127
3                       Xerxes                     300  INTJ    103
4                        Gorgo                     300  INFJ     62
...                        ...                     ...   ...    ...
10728                  Gazelle         Zootopia (2016)  ESFP    107
10729               Mr Manchas         Zootopia (2016)  ISFJ     40
10730              Doug Ramses         Zootopia (2016)  INTP     30
10731                   Travis         Zootopia (2016)  ESTP     27
10732             Alexis Zorba  Zorba the Greek (1964)  ENFP     39

[10733 rows x 4 columns]

In [6]:
franchise_name = "Indiana Jones (Series)"

## Getting the movie details

In [7]:
list_of_franchise_movies = pd.read_csv('../data/Data 7 - Raw List of Franchised Movies.csv', encoding='unicode_escape')
list_of_franchise_movies

,franchise,movie
0,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street (1984)
1,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 2: Freddy's Revenge ...
2,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 3: Dream Warriors (1...
3,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 4: The Dream Master ...
4,A Nightmare on Elm Street (Franchise),A Nightmare on Elm Street 5: The Dream Child (...
...,...,...
403,Zombieland (Franchise),Zombieland (2009)
404,Zombieland (Franchise),Zombieland: Double Tap (2019)
405,The Before Trilogy,Before Sunrise (1995)
406,The Before Trilogy,Before Sunset (2004)
407,The Before Trilogy,Before Midnight (2013)

In [8]:
class expanding_movies_to_cast:
    def __init__(self, input):
        self.input = input
        self.movie_list_in_franchise = None
        self.franchise_dict_list = []
        self.failed_list = []
        self.franchise_movie_id_list = []
        self.franchise_details_df = None
        self.char = None

    def append_to_franchise_movies_list(self, item):
        self.franchise_dict_list.append(item)

    def append_to_failed_list(self, item):
        self.failed_list.append(item)

    def fetch_characters_in_franchise(self): 
        franchise_characters_mbti_df = characters_mbti_df[characters_mbti_df['movie']==self.input]

        franchise_chars = list(franchise_characters_mbti_df['char'])
        chars_mbti = list(franchise_characters_mbti_df['mbti'])

        retain_chars = 'a-zA-Z0-9\s\-:–'

        chars_in_franchise = pd.DataFrame({'char': franchise_chars, 'movie': self.input, 'mbti': chars_mbti})
        chars_in_franchise['char'] = chars_in_franchise['char'].str.replace(f'[^{retain_chars}]', '', regex=True)
        return chars_in_franchise
    
    def fetch_movies_in_franchise(self):
        self.movie_list_in_franchise = list(list_of_franchise_movies[list_of_franchise_movies['franchise']==self.input]['movie'])   
        try:
            self.movie_list_in_franchise = [movie.replace('\xa0', ' ') for movie in self.movie_list_in_franchise]
        except:
            pass
        return self.movie_list_in_franchise
    
    def fetch_movie_details(self):
        franchise_dict_list = []
        failed_list = []
        for i, title in enumerate(self.movie_list_in_franchise):
            try:
                title_replace = title.replace(' ', '+')
                split_title = title_replace.split('+(', maxsplit=1)
                title_part = split_title[0]
                year_part = split_title[1].replace(')', '')
                
                url = 'https://api.themoviedb.org/3/search/movie?query=' + title_part + '&year=' + year_part + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'
            except:
                url = 'https://api.themoviedb.org/3/search/movie?query=' + title + '&api_key=cbc000c0a9c6cfcd061ab27a3205b346'

            try:
                response = requests.get(url, headers=headers)
                data = response.json()

                # While data above is a dictionary, it contains more dictionaries within it, so narrow down
                movie_data = data['results'][0]
                # print(i, movie_data['title'])
                self.append_to_franchise_movies_list(movie_data)
            except:
                self.append_to_failed_list(title)
                # print(i, 'Failed fetching ', split_title[0], len(failed_list))
        return self.franchise_dict_list, self.failed_list
    
    def franchise_movies_pipeline(self):
        franchise_details_df = pd.DataFrame(data=self.franchise_dict_list)
        franchise_details_df.drop(columns=['adult', 'backdrop_path', 'original_language', 'original_title', 'overview', 'poster_path', 'video'], inplace=True)
        self.franchise_movie_id_list = list(franchise_details_df['id'])
        return franchise_details_df
    
    def get_chars_in_movie_id_list(self):
        cast_dict_list = []
        dict_list = []
        for movie_id in self.franchise_movie_id_list:
            url = 'https://api.themoviedb.org/3/movie/' + str(movie_id) + '/credits?language=en-US'
            response = requests.get(url, headers=headers)
            data = response.json()
            cast_len = len(data['cast'])
            movie_id_dict = {'movie_id': movie_id}
            for cast in range(cast_len):
                new_cast = data['cast'][cast]
                new_cast.update(movie_id_dict)
                cast_dict_list.append(data['cast'][cast])
        franchise_cast_df = pd.DataFrame(data=cast_dict_list)
        franchise_cast_drop_df = franchise_cast_df.drop(columns=['adult', 'original_name', 'profile_path', 'credit_id', 'order', 'cast_id'])
        return franchise_cast_drop_df

    def franchise_cast_merge_pipeline(self):
        franchise_cast_df = self.get_chars_in_movie_id_list()
        franchise_details_df = self.franchise_movies_pipeline()
        franchise_cast_details_merged = franchise_details_df.merge(franchise_cast_df, how='outer', left_on='id', right_on='movie_id')
        franchise_cast_details_dropped = franchise_cast_details_merged[franchise_cast_details_merged['known_for_department']=='Acting']
        return franchise_cast_details_dropped

In [9]:
franchise = expanding_movies_to_cast(franchise_name)
franchise_df = franchise.fetch_characters_in_franchise()
franchise.fetch_movies_in_franchise()
franchise.fetch_movie_details()
franchise_details = franchise.franchise_movies_pipeline()
franchise.get_chars_in_movie_id_list()
franchise_cast_merged = franchise.franchise_cast_merge_pipeline()

In [10]:
franchise_df

                       char                   movie  mbti
0             Indiana Jones  Indiana Jones (Series)  ISTP
1            Henry Jones Sr  Indiana Jones (Series)  INTP
2          Marion Ravenwood  Indiana Jones (Series)  ESFP
3   Wilhelmina Willie Scott  Indiana Jones (Series)  ESFP
4               Short Round  Indiana Jones (Series)  ENTP
5         Dr Elsa Schneider  Indiana Jones (Series)  INFJ
6              Jrgen Voller  Indiana Jones (Series)  INTJ
7                    Sallah  Indiana Jones (Series)  ENFJ
8              Marcus Brody  Indiana Jones (Series)  INTP
9              Irina Spalko  Indiana Jones (Series)  INTJ
10      Colonel Ernst Vogel  Indiana Jones (Series)  ESTJ
11                 Mola Ram  Indiana Jones (Series)  ENTJ
12            Mutt Williams  Indiana Jones (Series)  ESTP
13              Arnold Toht  Indiana Jones (Series)  ESTP
14           Walter Donovan  Indiana Jones (Series)  ENTJ
15      Col Herman Dietrich  Indiana Jones (Series)  ESTJ
16         Ren Emile Belloq  Indiana Jones (Series)  ENTJ

In [11]:
franchise_details

,genre_ids,id,popularity,release_date,title,vote_average,vote_count
0,"[12, 28]",85,79.172,1981-06-12,Raiders of the Lost Ark,7.926,12052
1,"[12, 28]",87,47.802,1984-05-23,Indiana Jones and the Temple of Doom,7.295,8944
2,"[12, 28]",89,51.446,1989-05-24,Indiana Jones and the Last Crusade,7.848,9788
3,"[12, 28]",217,53.883,2008-05-21,Indiana Jones and the Kingdom of the Crystal S...,6.009,8011
4,"[12, 28]",335977,100.602,2023-06-25,Indiana Jones and the Dial of Destiny,6.596,3068

In [12]:
franchise_cast_merged

,genre_ids,id_x,popularity_x,release_date,title,vote_average,vote_count,gender,id_y,known_for_department,name,popularity_y,character,movie_id
0,"[12, 28]",85,79.172,1981-06-12,Raiders of the Lost Ark,7.926,12052,2,3,Acting,Harrison Ford,59.325,Indiana Jones,85
1,"[12, 28]",85,79.172,1981-06-12,Raiders of the Lost Ark,7.926,12052,1,650,Acting,Karen Allen,29.335,Marion Ravenwood,85
2,"[12, 28]",85,79.172,1981-06-12,Raiders of the Lost Ark,7.926,12052,2,652,Acting,Paul Freeman,13.519,Dr. René Belloq,85
3,"[12, 28]",85,79.172,1981-06-12,Raiders of the Lost Ark,7.926,12052,2,655,Acting,John Rhys-Davies,21.661,Sallah,85
4,"[12, 28]",85,79.172,1981-06-12,Raiders of the Lost Ark,7.926,12052,2,653,Acting,Ronald Lacey,15.758,Major Arnold Toht,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,"[12, 28]",335977,100.602,2023-06-25,Indiana Jones and the Dial of Destiny,6.596,3068,0,3988344,Acting,Mohammed R. Kamel,1.277,Hotel Security,335977
353,"[12, 28]",335977,100.602,2023-06-25,Indiana Jones and the Dial of Destiny,6.596,3068,1,2001428,Acting,Bryony Miller,10.163,Confused Student,335977
354,"[12, 28]",335977,100.602,2023-06-25,Indiana Jones and the Dial of Destiny,6.596,3068,0,4102357,Acting,Tiwa Lade,0.555,Bubblegum Student,335977
355,"[12, 28]",335977,100.602,2023-06-25,Indiana Jones and the Dial of Destiny,6.596,3068,0,4102358,Acting,Brodie Husband,0.445,Sketching Student,335977
356,"[12, 28]",335977,100.602,2023-06-25,Indiana Jones and the Dial of Destiny,6.596,3068,1,3260026,Acting,Hannah Onslow,7.381,Student,335977

## Getting the characters in each movie

In [13]:
def get_first_word(s):
    # Strip leading/trailing whitespace and split the string
    words = s.strip().split()
    # Return the first word if the list is not empty, else return an empty string
    return words[0] if words else ''
# get_first_word('Loki Laufeyson')

In [14]:
def get_first_two_words(s):
    # Strip leading/trailing whitespace and split the string
    words = s.strip().split()
    # Join and return the first two words if the list is not empty, else return an empty string
    return ' '.join(words[:2])

In [16]:
def find_movies(character_name):
    """
    Input: String of character name.
    Output: List of movies where the character is present in.
    """
    bool_series = franchise_cast_merged['character'].str.contains(character_name, na=False)
    if bool_series.any():
        index = bool_series[bool_series].index
        movies_per_char_df = franchise_cast_merged.loc[index]
        movies_per_char_df.drop_duplicates('id_x', inplace=True)
        movies_list_of_char = list(movies_per_char_df['title'])
        return movies_list_of_char
    return franchise_name

def movies_per_character(char):
    '''
    Input: String of character name.
    Output: List of movies where the character is present in.
    '''
    try:
        two_words = get_first_two_words(char)
        movies_list_of_char = find_movies(two_words)
    except:
        movies_list_of_char = franchise_name

    if not movies_list_of_char:
        try:
            first_word = get_first_word(char)
            movies_list_of_char = find_movies(first_word)
        except:
            movies_list_of_char = franchise_name

    return movies_list_of_char

In [17]:
franchise_list_movies_df = franchise_df.copy()

for i in range(len(franchise_list_movies_df)):
    franchise_list_movies_df.loc[i, "movie"] = movies_per_character(str(franchise_list_movies_df.at[i, 'char']))

franchise_list_movies_df

,char,movie,mbti
0,Indiana Jones,"[Raiders of the Lost Ark, Indiana Jones and th...",ISTP
1,Henry Jones Sr,[Indiana Jones and the Last Crusade],INTP
2,Marion Ravenwood,"[Raiders of the Lost Ark, Indiana Jones and th...",ESFP
3,Wilhelmina Willie Scott,Indiana Jones (Series),ESFP
4,Short Round,[Indiana Jones and the Temple of Doom],ENTP
5,Dr Elsa Schneider,Indiana Jones (Series),INFJ
6,Jrgen Voller,Indiana Jones (Series),INTJ
7,Sallah,"[Raiders of the Lost Ark, Indiana Jones and th...",ENFJ
8,Marcus Brody,"[Raiders of the Lost Ark, Indiana Jones and th...",INTP
9,Irina Spalko,[Indiana Jones and the Kingdom of the Crystal ...,INTJ
10,Colonel Ernst Vogel,Indiana Jones (Series),ESTJ
11,Mola Ram,[Indiana Jones and the Temple of Doom],ENTJ
12,Mutt Williams,[Indiana Jones and the Kingdom of the Crystal ...,ESTP
13,Arnold Toht,[Raiders of the Lost Ark],ESTP
14,Walter Donovan,[Indiana Jones and the Last Crusade],ENTJ
15,Col Herman Dietrich,Indiana Jones (Series),ESTJ
16,Ren Emile Belloq,Indiana Jones (Series),ENTJ

In [18]:
new_characters_mbti_df = characters_mbti_df.copy()
retain_chars = 'a-zA-Z0-9\s\-'
new_characters_mbti_df['char'] = new_characters_mbti_df['char'].str.replace(f'[^{retain_chars}]', '', regex=True)
new_characters_mbti_df.set_index('char', inplace=True)
new_characters_mbti_df

                                          movie  mbti  votes
char
Guido Anselmi                             8 1/2  INTP     57
King Leonidas of Sparta                     300  ENTJ    460
Artemisia                                   300  ENTJ    127
Xerxes                                      300  INTJ    103
Gorgo                                       300  INFJ     62
...                                         ...   ...    ...
Gazelle                         Zootopia (2016)  ESFP    107
Mr Manchas                      Zootopia (2016)  ISFJ     40
Doug Ramses                     Zootopia (2016)  INTP     30
Travis                          Zootopia (2016)  ESTP     27
Alexis Zorba             Zorba the Greek (1964)  ENFP     39

[10733 rows x 3 columns]

In [19]:
new_franchise_list_movies_df = franchise_list_movies_df
new_franchise_list_movies_df.set_index('char', inplace=True)
new_franchise_list_movies_df

,movie,mbti
char,,
Indiana Jones,"[Raiders of the Lost Ark, Indiana Jones and th...",ISTP
Henry Jones Sr,[Indiana Jones and the Last Crusade],INTP
Marion Ravenwood,"[Raiders of the Lost Ark, Indiana Jones and th...",ESFP
Wilhelmina Willie Scott,Indiana Jones (Series),ESFP
Short Round,[Indiana Jones and the Temple of Doom],ENTP
Dr Elsa Schneider,Indiana Jones (Series),INFJ
Jrgen Voller,Indiana Jones (Series),INTJ
Sallah,"[Raiders of the Lost Ark, Indiana Jones and th...",ENFJ
Marcus Brody,"[Raiders of the Lost Ark, Indiana Jones and th...",INTP
Irina Spalko,[Indiana Jones and the Kingdom of the Crystal ...,INTJ
Colonel Ernst Vogel,Indiana Jones (Series),ESTJ
Mola Ram,[Indiana Jones and the Temple of Doom],ENTJ
Mutt Williams,[Indiana Jones and the Kingdom of the Crystal ...,ESTP
Arnold Toht,[Raiders of the Lost Ark],ESTP
Walter Donovan,[Indiana Jones and the Last Crusade],ENTJ
Col Herman Dietrich,Indiana Jones (Series),ESTJ
Ren Emile Belloq,Indiana Jones (Series),ENTJ

In [20]:
new_titles_merge = new_characters_mbti_df.copy() 

for i in range(len(new_franchise_list_movies_df)):
    char = new_franchise_list_movies_df.index[i]
    # print(char)
    # print(new_titles_merge.loc[char])
    new_titles_merge.loc[char, 'movie'] = str(new_franchise_list_movies_df.loc[char, 'movie'])

In [21]:
new_titles_merge.to_csv('../data/Data 8 - Franchise-expanded Movies from Data 2.csv')